<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white">Gestion de votre profil</span>
  </div>
  <div class="body-container">
      <div class="form-header">
        <span class="font-bold-white h-font-size">Informations générales</span>
      </div>
    <div class="form-body">
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Nom*</span></div>
          <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.nom"
                                       [disabled]="disabled">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Prenom*</span></div>
          <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.prenom"
                                       [disabled]="disabled">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Email</span></div>
          <div class="col-md-8"><input class="input-field" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                       type="email" [(ngModel)]="acteur.adresseMail"  [disabled]="disabled">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Organisation</span></div>
          <div class="col-md-8"><input class="input-field" (ngModelChange)="setIsModified(true)" [(ngModel)]="acteur.organisation">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Poste</span></div>
          <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.poste"  (ngModelChange)="setIsModified(true)">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Famille de rôle</span></div>
          <div class="col-md-8"><input  class="input-field" [disabled]="disabled"
                                               [value]="acteur.familleRoles[0]?.nom">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Rôle fonctionnel</span></div>
          <div class="col-md-8"> <input class="input-field" [disabled]="disabled"
                                                [value]="acteur.roles[0]?.nom">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 col"><span class="font-light-gray">Code CP*</span></div>
          <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.cp" [disabled]="disabled">
          </div>
        </div>
      </div>
    </div>
    <div class="form-header background">
      <div class="col-md-2 col"><span class="font-ctd overflow">Filière associée</span></div>
      <div class="col-md-2 col"><span class="font-ctd overflow">Responsable</span></div>
      <div class="col-md-2 col"><span class="font-ctd overflow">Responsable délégué</span></div>
      <div class="col-md-2 col"><span class="font-ctd overflow">Coordinateur</span></div>
      <div class="col-md-3 col"><span class="font-ctd overflow">Raison d’être</span></div>
      <div class="col-md-1 col"><span class="font-ctd overflow">Actions</span></div>
    </div>
    <div *ngFor="let filiere of acteur.filiereAssoc" class="row align-body-items">
      <div class="col-md-2 col">
        <span class="font-bold overflow">{{filiere.nom ? filiere.nom: '—' }}</span></div>
      <div class="col-md-2 col"><span
        class="font-light-gray overflow">{{filiere.responsableDeFiliere ? filiere.responsableDeFiliere.nomComplet: '—' }}</span>
      </div>
      <div class="col-md-2 col"><span
        class="font-light-gray overflow">{{filiere.responsableDeFiliereDelegue ? filiere.responsableDeFiliereDelegue.nomComplet: '—' }}</span>
      </div>
      <div class="col-md-2 col"><span
        class="font-light-gray overflow">{{filiere.coordinateurDeFiliere ? filiere.coordinateurDeFiliere.nomComplet: '—' }}</span>
      </div>
      <div class="col-md-3 col"><span
        class="font-light-gray overflow">{{filiere.description? filiere.description: '—' }}</span>
      </div>
      <div class="col-md-1 flex justify-content-end">
        <i class="ic-consult" matTooltip="Visualiser"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
           [routerLink]="['/main/filiere']"
           (click)="changeDataService(filiere)">
        </i>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn-confirm" type="button" [hidden]="!isModified"  (click)="save()">Enregistrer</button>
  </div>
</div>
