.align-right {
  background: #A1006B 0% 0% no-repeat padding-box;
  box-shadow: 0.47px 3px 10px #7777771a;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 6px;
  height: 93%;
}

.row-item {
  padding: 5px 0px 5px 0;
  width: 100%;
}

.section-1 {
  height: 150px;
  display: flex;
  margin: 0 20px 0px 20px;
}

.section-2 {
  height: 61%;
  margin: 0 20px 0px 20px;
}
.ic-edit-w {
  position: absolute;
  right: 3px;
  top: 5px;
  background-image: url(/agora-admin/assets/img/editer-white.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  align-self: center;
  width: 18px;
  height: 18px;
  margin: auto;
}
.overflow-break-space {
  max-height: 40px;
  white-space: break-spaces;
  overflow: scroll;
}

.font-40 {
  font-size: 30px;
}

.item {
  background: white;
  width: 26%;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  margin-right: 20px;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
}

.item-2 {
  background: white;
  width: 38%;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
}

.ic-select {
  background-image: url(/agora-admin/assets/img/select.png);
  background-repeat: no-repeat;
  position: relative;
  align-self: center;
  transition: 300ms;
  transform: rotate(90deg);
  width: 15px;
  height: 6px;
  margin-right: 10px;
}

.rotation {
  transition: 300ms;
  transform: rotate(180deg);
}

.background { background: #F5E4EF;}

.w-97 {
  width: 97%;
}

.p-left-0 {
  padding-left: 0;
}
