<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white">{{title}} &nbsp;</span>
    <span class="font-light h-font-size">- &nbsp; {{filiere.nom}}</span>
  </div>
  <div class="section-1">
    <div class="col-md-7">
      <div class="row row-item"><span class="font-bold">Raison d’être</span></div>
      <div class="row row-item">
        <span class="font-light-gray overflow-break-space">{{filiere.description}}</span>
      </div>
      <div class="row row-item">
        <div class="item"><span class="font-bold font-40">{{filiere.familles?.length}}</span>
          <div class="flex flex-column justify-content-center m-2 overflow">
            <div><span class="font-book">familles</span></div>
            <div><span class="font-light-gray">dans la filière</span></div>
          </div>
        </div>
        <div class="item">
          <span class="font-bold font-40">{{totalSousF}}</span>
          <div class="flex flex-column justify-content-center m-2 overflow">
            <span class="font-book">sous-familles</span>
            <span class="font-light-gray">dans la filière</span>
          </div>
        </div>
        <div class="item-2"><span class="font-bold font-40">{{familleWithRolePercent}}%</span>
          <span class="font-book overflow m-2">des familles <br>ont un rôle attribué</span></div>
      </div>
    </div>
    <div class="col-md-5 p-0">
      <div class="align-right flex">
          <div class="avatar-upload">
            <div class="avatar-preview">
            <div [style.background]="'rgb(234 197 232)'" [style.backgroundImage]="'url('+ filiere.image +')'"></div>
          </div>
          </div>
        <div class="w-100 align-self-center">
        <i [hidden]="idDisabled" class="ic-edit-w" (click)="openModal(Filiere)"></i>
        <div class="row row-item"><span class="col-md-7 font-bold text-white">Responsable de la filière</span>
          <span
            class="col-md-5 font-light">{{filiere.responsableDeFiliere?.nomComplet}}</span>
        </div>
        <div class="row row-item"><span class="col-md-7 font-bold text-white">Responsable délégué</span>
          <span
            class="col-md-5 font-light">{{filiere.responsableDeFiliereDelegue?.nomComplet}}</span>
        </div>
        <div class="row row-item"><span class="col-md-7 font-bold text-white">Coordinateur filière</span>
          <span
            class="col-md-5 font-light">{{filiere.coordinateurDeFiliere ?.nomComplet}}</span>
        </div>
        </div>
      </div>
    </div>
  </div>
    <div class="section-2">
      <div class="row align-header-items">
        <div class="col-md-4 col"><span class="font-ctd overflow">Hiérarchie des familles</span></div>
        <div class="col-md-3 col"><span class="font-ctd overflow">Responsable de données</span></div>
        <div class="col-md-4 col"><span class="font-ctd overflow">Sous-famille</span></div>
        <div class="col-md-1 col"><span class="font-ctd overflow">Actions</span></div>
      </div>
      <div class="body-container p-0">
      <ng-container *ngFor="let famille of filiere.familles; let i = index">
        <div class="row align-body-items" [ngClass]="{background: !famille.isCollapsed}">
          <div class="col-md-4 col">
            <i *ngIf="famille.sousFamilles?.length > 0"
               class="ic-select" [ngClass]="{rotation: !famille.isCollapsed}" (click)="collapse.toggle()"
               [attr.aria-expanded]="!famille.isCollapsed"></i>
            <span class="font-bold overflow">{{famille.nom}}</span></div>
          <div class="col-md-3 col"><span
            class="font-light-gray overflow">{{famille.responsableDeDonnees?.nomComplet}}</span></div>
          <div class="col-md-4 col"><span
            class="font-light-gray overflow">{{famille.sousFamilles ? famille.sousFamilles.length : 0}}
            élément(s)</span></div>
          <div class="col-md-1 col p-left-0">
            <i [hidden]="idDisabled" class="ic-add-gray" matTooltip="Créer une sous-famille"
               [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
               (click)="openModalSousFamille('Créer une sous famille', null, SousFamille, famille)">
            </i>
            <i [hidden]="idDisabled" class="ic-edit" matTooltip="Editer"
               [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
               (click)="openModalFamille('Modifier une famille', famille, Famille)">
            </i>
            <i [hidden]="idDisabled" matTooltip="Archiver"
               [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" class="ic-archive" (click)="openModalFamille('', famille, archiveFamille)">
            </i>
          </div>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="famille.isCollapsed">
          <div *ngFor="let sFamille of famille.sousFamilles; let index =index" class="flex justify-content-end">
            <div class="row align-body-items w-97">
              <div class="col-md-4 col"><span class="font-bold overflow">{{sFamille.nom}}</span></div>
              <div class="col-md-3 col p-left-0"><span class="font-book">Référent métier : </span>
                <span class="font-light-gray overflow"> &nbsp;{{sFamille.responsableDeDonnees? sFamille.responsableDeDonnees.nomComplet: 'aucun'}}</span></div>
              <div class="col-md-4 col p-left-0"></div>
              <div class="col-md-1 col">
                <i [hidden]="idDisabled" class="ic-edit" matTooltip="Editer"
                   [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                   (click)="openModalSousFamille('Modifier une sous famille', sFamille, SousFamille, famille)">
                </i>
                <i [hidden]="idDisabled" matTooltip="Archiver"
                   [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" class="ic-archive" (click)="openModalSousFamille('', sFamille, archiveSFamille, famille)">
                </i>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div>
      <button [hidden]="idDisabled" class="btn-ajout" type="button"
              (click)="openModalFamille('Créer une famille', null, Famille)">
        <img class="ic-add" src="/agora-admin/assets/img/add.png"> Créer une famille
      </button>
    </div>
  </div>

  <ng-template #Filiere>
    <div class="group-gap">
      <!-- Upload image -->
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg .svg" #fileInput (change)="uploadFile($event)" />
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" [style.background]="'rgb(234 197 232)'" [style.backgroundImage]="'url('+ filiereToEdit.image +')'"></div>
          <div class="browse-button" (click)="fileInput.click()">
            <i class="ic-camera"></i>
          </div>
        </div>
      </div>
    </div>
    <header>
      <div class="row row-modal-item">Modifier une filière</div>
    </header>
    <section>
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Nom de filière*</span></div>
        <div class="col-md-7"><input class="input-field" name="nom" [(ngModel)]="filiereToEdit.nom"
                                     [ngClass]="{'input-field-error': isInvalid(filiereToEdit.nom)}"></div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(filiereToEdit.nom)">Champ obligatoire</span>
      </div>
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Responsable de la filière</span></div>
        <div class="col-md-7">
          <ng-autocomplete name="responsable" [(ngModel)]="filiereToEdit.responsableDeFiliere" [data]="users"
                           [searchKeyword]="keyword"
                           [itemTemplate]="itemTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nomComplet"></a>
          </ng-template>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Responsable délégué</span></div>
        <div class="col-md-7">
          <ng-autocomplete name="responsableDelegue" [(ngModel)]="filiereToEdit.responsableDeFiliereDelegue"
                           [data]="users" [searchKeyword]="keyword"
                           [itemTemplate]="itemTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nomComplet"></a>
          </ng-template>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Coordinateur de filière</span></div>
        <div class="col-md-7">
          <ng-autocomplete name="coordinateur" [(ngModel)]="filiereToEdit.coordinateurDeFiliere" [data]="users"
                           [searchKeyword]="keyword"
                           [itemTemplate]="itemTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nomComplet"></a>
          </ng-template>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 text-left"><span class="font-light-gray">Raison d’être</span></div>
        <div class="col-md-7"><textarea name="description" [(ngModel)]="filiereToEdit.description"></textarea></div>
      </div>
    </section>
    <footer>
      <div class="row-btn">
        <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
        <button class="btn-confirm" type="button" (click)="editFiliere()"> Confirmer</button>
      </div>
    </footer>
  </ng-template>


  <ng-template #Famille>
    <header>
      <div class="row row-modal-item"><span class="font-bold">{{modalTitle}}</span></div>
    </header>
    <section *ngIf="!addBloc">
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Nom de la famille*</span></div>
        <div class="col-md-7"><input class="input-field" name="nom" [(ngModel)]="famille.nom"
                                     [ngClass]="{'input-field-error': isInvalid(famille.nom)}"></div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(famille.nom)">Champ obligatoire</span>
      </div>

      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Responsable des données</span></div>
        <div class="col-md-7">
          <ng-autocomplete name="responsable" [(ngModel)]="famille.responsableDeDonnees" [data]="users"
                           [searchKeyword]="keyword"
                           [itemTemplate]="itemTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nomComplet"></a>
          </ng-template>
        </div>
      </div>
    </section>
    <footer *ngIf="!addBloc">
      <div class="row-btn">
        <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
        <button class="btn-confirm" type="button" (click)="saveFamille()"> Confirmer</button>
      </div>
    </footer>
    <section *ngIf="addBloc" class="text-center">
      <span class="font-light-gray">Vous êtes sur le point d’ajouter la famille
        <span  class="font-bold"> {{famille.nom}}</span>
        <br>à la filière <span class="font-book">  {{famille.filiere.nom}}</span>.
        <br>Aucun responsable de données n’a été attribué.</span>
    </section>
    <footer *ngIf="addBloc">
      <div class="row-btn">
        <button class="btn-cancel btn-gray" type="button" (click)="addBloc = false"> Annuler</button>
        <button class="btn-confirm" type="button" (click)="submitFamille()"> Confirmer</button>
      </div>
    </footer>
  </ng-template>

  <ng-template #SousFamille>
    <header>
      <div class="row row-modal-item"><span class="font-bold">{{modalTitle}}</span></div>
    </header>
    <section *ngIf="!addBloc">
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Nom de la sous-famille*</span></div>
        <div class="col-md-7"><input class="input-field" name="nom" [(ngModel)]="sousFamille.nom"
                                     [ngClass]="{'input-field-error': isInvalid(sousFamille.nom)}"></div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(sousFamille.nom)">Champ obligatoire</span>
      </div>
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Responsable des données</span></div>
        <div class="col-md-7">
          <ng-autocomplete name="referent" [(ngModel)]="sousFamille.responsableDeDonnees" [data]="users"
                           [searchKeyword]="keyword"
                           [itemTemplate]="itemTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nomComplet"></a>
          </ng-template>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 col"><span class="font-light-gray">Appartenance famille</span></div>
        <div class="col-md-7"><ng-selectize [config]="familleSelectConfig" [options]="filiere.familles"
                                           [(ngModel)]="sousFamille.familleMere.idFamille" disabled>
        </ng-selectize></div>
      </div>
    </section>
    <footer *ngIf="!addBloc">
      <div class="row-btn">
        <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
        <button class="btn-confirm" type="button" (click)="saveSousFamille()"> Confirmer</button>
      </div>
    </footer>
    <section *ngIf="addBloc" class="text-center">
      <span class="font-light-gray">Vous êtes sur le point d’ajouter la sous-famille
        <span  class="font-bold"> {{sousFamille.nom}}</span>
        <br>à la famille  <span class="font-book">  {{sousFamille.familleMere.nom}}</span>.
        <br>Aucun responsable de données n’a été attribué.</span>
    </section>
    <footer *ngIf="addBloc">
      <div class="row-btn">
        <button class="btn-cancel btn-gray" type="button" (click)="addBloc = false"> Annuler</button>
        <button class="btn-confirm" type="button" (click)="submitSousFamille()"> Confirmer</button>
      </div>
    </footer>
  </ng-template>
  <ng-template #archiveFamille>
    <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver une famille ?</span></div>
    <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez la famille &nbsp;<span class="font-bold">{{famille.nom}}</span>.</span></div>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
      <button class="btn-confirm" type="button" (click)="delete(famille, null)"> Confirmer</button>
    </div>
  </ng-template>
  <ng-template #archiveSFamille>
    <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver une sous-famille ?</span></div>
    <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez la sous-famille &nbsp;<span class="font-bold">{{sousFamille.nom}}</span>.</span></div>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
      <button class="btn-confirm" type="button" (click)="delete(null, sousFamille)"> Confirmer</button>
    </div>
  </ng-template>
