
.form-body {
  color: #464A53;
  background: #FFFFFF;
  margin: 10px 0 30px 0;
  padding: 20px 0 20px 0;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
  display: flex;
}

.form-row {
  padding: 10px;
  margin: 0;
  align-self: center;
}

:host>>> table {
  width: 100%!important;
  max-height: 80%;
}

:host>>> .ui-table-scrollable-body {
  overflow: auto;
}

.btn-confirm {
  margin: 10px 0 10px 10px;
}
