.form-body {
  color: #707070;
  background: #FFFFFF;
  margin: 10px 0 30px 0;
  padding: 20px;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
}

.form-row {
  padding: 8px 0 8px 5px;
  margin: 0;
  align-self: center;
}

textarea {
  font-family: Circular Std Light, sans-serif;
  color:  #707070;
  height: 150px;
  border: 1px solid #cccccc;
  padding-left: 6px;
  resize: none;
  width: 90%;
}

textarea:disabled {
  background: #F2F2F2;
  border: none;
}

.checkmark {
  border: 1px solid #cccccc;
}

.m-right {
  margin-right: 10px;
}

.row-doc {
  height: 80px;
  padding-left: 15px;
  background: white;
  margin: 10px 0 15px 0;
  box-shadow: 0.47px 3px 10px #7777771a;
  border-radius: 3px;
}
.p-right-0 {
  padding-right: 0;
}

.footer {
  display: flex;
  position: fixed;
  right: 27px;
  bottom: 10px;
}

.body-container {
  max-height: 87%;
}

.btn-associer {
  position: relative;
}

.row-item {
  height: 58px;
  background: #EFE0EE;
  box-shadow: 0.47px 3px 10px #7777771a;
  border-radius: 3px;
  display: flex;
  margin: 5px 0 5px 0;
}

.row-modal-item .font-bold {
  color: #A1006B;
  font-size: 19px;
}

.modal-container {
  max-height: 300px;
  overflow: auto;
}

.p-top {
  padding-top: 20px;
  border-top: 1px solid #cccccc;
}

.p-bottom {
  padding-bottom: 35px;
}

.f-size {
  font-size: 16px!important;
}

.input-overflow {
  height: 37px;
  white-space: nowrap;
  overflow-wrap: normal;
  overflow-y: hidden;
}
