<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white">{{titre}}</span>
    <span class="font-light h-font-size">&nbsp;{{titre2}}</span>
  </div>
  <div class="body-container">
    <div class="form-header"><span class="font-bold-white h-font-size">Informations générales</span></div>
    <form>
      <div class="form-body flex">
        <div class="col-md-6 p-right-0">
          <div class="form-row">
            <div class="col-md-4 col"><span class="font-light-gray">Nom du gisement*</span></div>
            <div class="col-md-8"><input class="input-field" (ngModelChange)="setIsModified(true)"
                                         name="nom" [(ngModel)]="gisement.libelle"
                                         [ngClass]="{'input-field-error': isInvalid(gisement.libelle)}"
                                         [disabled]="isDisabled" required>
            </div>
            <span class="font-circular-light-italic-error" *ngIf="isInvalid(gisement.libelle)">Champ obligatoire</span>
          </div>

          <div class="form-row">
            <div class="col-md-4 col"><span class="font-light-gray">Raison d’être courte</span></div>
            <div class="col-md-8"><textarea name="raison" class="input-field input-overflow" (ngModelChange)="setIsModified(true)"
                                             [(ngModel)]="gisement.raisonEtreCourte"
                                             [disabled]="isDisabled"></textarea></div>
          </div>
          <div class="form-row">
            <div class="col-md-4"><span class="font-light-gray">Raison d’être</span></div>
            <div class="col-md-8"><textarea name="raisonEtre" (ngModelChange)="setIsModified(true)"
                                            [(ngModel)]="gisement.raisonEtre"
                                            [disabled]="isDisabled"></textarea></div>
          </div>
        </div>
        <div class="col-md-6 p-right-0">
          <div class="form-row">
            <div class="col-md-4"><span class="font-light-gray">Description détaillée</span></div>
            <div class="col-md-8"><textarea name="description" (ngModelChange)="setIsModified(true)"
                                            [(ngModel)]="gisement.description"
                                            [disabled]="isDisabled"></textarea></div>
          </div>
          <div class="form-row">
            <div class="col-md-4 col"><span class="font-light-gray">Statut</span></div>
            <div class="col-md-8 col">
              <span class="font-light-gray m-right">En projet</span>
              <label class="container margin">
                <input type="checkbox" [checked]="gisement.statut === 'En projet'"
                       (change)="gisement.statut = 'En projet';  setIsModified(true)"
                       [disabled]="isDisabled">
                <span class="checkmark"></span>
              </label>
              <span class="font-light-gray m-right">En service</span>
              <label class="container">
                <input type="checkbox" [checked]="gisement.statut === 'En service'"
                       (change)="gisement.statut = 'En service'; setIsModified(true)"
                       [disabled]="isDisabled">
                <span class="checkmark"></span>
              </label></div>
          </div>
        </div>
      </div>
    </form>

    <div class="form-header"><span class="font-bold-white h-font-size">Acteurs</span></div>
    <div *ngIf="isDisabled && gisement.acteurs?.length == 0" class="form-row justify-content-center">
      <span class="font-light-gray">Aucun acteur ajouté</span>
    </div>
    <div class="row row-doc" *ngFor="let act of gisement.acteurs; let index = index">
      <div class="col-md-4 form-row">
        <div class="col-md-4 col"><span
          class="font-light-gray overflow">Nom de l’acteur</span>
        </div>
        <div class="col-md-8"><input class="input-field w-80" name="nom" [(ngModel)]="act.nom" [disabled]="isDisabled">
        </div>
      </div>
      <div class="col-md-4 form-row p-right-0">
        <div class="col-md-4 col"><span class="font-light-gray overflow">Rôle de l’acteur</span></div>
        <div class="col-md-8"><input class="input-field w-80" name="role" [(ngModel)]="act.role"
                                     [disabled]="isDisabled">
        </div>
      </div>
      <div class="col-md-4 form-row p-right-0">
        <div class="col-md-4 col"><span class="font-light-gray overflow">Contact de l’acteur</span></div>
        <div class="col-md-8 col"><input class="input-field w-75" name="contact" [(ngModel)]="act.contact"
                                         [disabled]="isDisabled">
          <i *ngIf="!isDisabled" class="ic-archive" matTooltip="Supprimer"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
             (click)="removeItem( gisement.acteurs, index)"></i>
        </div>
      </div>
    </div>
    <div class="row row-doc" *ngIf="!isDisabled">
      <div class="col-md-4 form-row">
        <div class="col-md-4 col"><span
          class="font-light-gray overflow">Nom de l’acteur</span>
        </div>
        <div class="col-md-8"><input class="input-field w-80" name="nom" [(ngModel)]="acteur.nom">
        </div>
      </div>
      <div class="col-md-4 form-row p-right-0">
        <div class="col-md-4 col"><span class="font-light-gray overflow">Rôle de l’acteur</span></div>
        <div class="col-md-8"><input class="input-field w-80" name="role" [(ngModel)]="acteur.role">
        </div>
      </div>
      <div class="col-md-4 form-row p-right-0">
        <div class="col-md-4 col"><span class="font-light-gray overflow">Contact de l’acteur</span></div>
        <div class="col-md-8 col"><input class="input-field w-75" name="contact" [(ngModel)]="acteur.contact">
          <button class="btn-ajout" type="button" matTooltip="Créer"
                  [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="ajouterActeur()">
            <img class="ic-add" src="/agora-admin/assets/img/add.png">
          </button>
        </div>
      </div>
    </div>

    <div class="form-header"><span class="font-bold-white h-font-size">Liens utiles</span></div>
    <div *ngIf="isDisabled && gisement.liensUtiles?.length == 0" class="form-row justify-content-center">
      <span class="font-light-gray">Aucun lien ajouté</span>
    </div>
    <div class="row row-doc" *ngFor="let lien of gisement.liensUtiles; let index = index">
      <div class="col-md-6 form-row">
        <div class="col-md-4 col"><span
          class="font-light-gray overflow">Nom du lien</span>
        </div>
        <div class="col-md-8"><input class="input-field w-80" name="libelle" [(ngModel)]="lien.libelle"
                                     [disabled]="isDisabled">
        </div>
      </div>
      <div class="col-md-6 form-row p-right-0">
        <div class="col-md-4 col"><span class="font-light-gray overflow">URL du lien</span></div>
        <div class="col-md-8 col"><input class="input-field w-80" name="url" [(ngModel)]="lien.url"
                                         [disabled]="isDisabled">
          <i *ngIf="!isDisabled" class="ic-archive" matTooltip="Supprimer"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
             (click)="removeItem( gisement.liensUtiles, index)"></i>
        </div>
      </div>
    </div>
    <div class="row row-doc" *ngIf="!isDisabled">
      <div class="col-md-6 form-row">
        <div class="col-md-4 col"><span
          class="font-light-gray overflow">Nom du lien</span>
        </div>
        <div class="col-md-8"><input class="input-field w-80" name="libelle" [(ngModel)]="lienUtile.libelle">
        </div>
      </div>
      <div class="col-md-6 form-row p-right-0">
        <div class="col-md-4 col"><span class="font-light-gray overflow">URL du lien</span></div>
        <div class="col-md-8 col"><input class="input-field w-80" name="url" [(ngModel)]="lienUtile.url">
          <button class="btn-ajout" type="button" matTooltip="Créer" (click)="ajouterLien()"
                  [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
            <img class="ic-add" src="/agora-admin/assets/img/add.png">
          </button>
        </div>
      </div>
    </div>

    <div class="form-header"><span class="font-bold-white h-font-size">Indicateurs clés</span></div>

    <form>
      <div class="form-body">
            <div class="form-row">
              <div class="col-md-3"><span class="font-light-gray">Date de mise en service</span></div>
              <div class="col-md-2">
                <input class="input-field" [(ngModel)]="gisement.dateMiseEnService"
                       (ngModelChange)="setIsModified(true)" name="entryDate" type="date"
                       [disabled]="isDisabled">
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-3"><span class="font-light-gray">Nombre de fournisseurs</span></div>
              <div class="col-md-2"><input class="input-field" name="fournisseur"
                                           [(ngModel)]="gisement.nombreDeFournisseurs"
                                           [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
            </div>
            <div class="form-row">
              <div class="col-md-3"><span class="font-light-gray">Nombre de clients internes</span></div>
              <div class="col-md-2"><input class="input-field" name="nombreClientsInternes" type="number"
                                           [(ngModel)]="gisement.nombreClientsInternes"
                                           [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
            </div>
            <div class="form-row">
              <div class="col-md-3"><span class="font-light-gray">Nombre de clients externes</span></div>
              <div class="col-md-2"><input class="input-field" name="nombreClientsExternes" type="number"
                                           [(ngModel)]="gisement.nombreClientsExternes"
                                           [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
            </div>
            <div class="form-row p-bottom">
              <div class="col-md-3"><span class="font-light-gray">Détails clients externes</span></div>
              <div class="col-md-6"><input class="input-field" name="detailsClientsExternes"
                                           [(ngModel)]="gisement.detailsClientsExternes"
                                           [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2"><span class="font-bold f-size">Actuellement</span></div>
          <div class="col-md-2"><span class="font-bold f-size">En projet</span></div>
        </div>
        <div class="form-row">
          <div class="col-md-4"><span class="font-light-gray">Nombre d’objets référencés </span></div>
          <div class="col-md-2"><input class="input-field" name="nombreObjetsReferences" type="number"
                                       [(ngModel)]="gisement.nombreObjetsReferences"
                                       [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
          <div class="col-md-2"><input class="input-field" name="nombreObjetsReferencesEnProjet" type="number"
                                       [(ngModel)]="gisement.nombreObjetsReferencesEnProjet"
                                       [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
        </div>
        <div class="form-row">
          <div class="col-md-4"><span class="font-light-gray">Nombre de services </span></div>
          <div class="col-md-2"><input name="nombreDeServices" class="input-field" type="number"
                                       [(ngModel)]="gisement.nombreDeServices"
                                       [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
          <div class="col-md-2">
              <input class="input-field" name="nombreServicesEnProjet" type="number"
                     [(ngModel)]="gisement.nombreServicesEnProjet"
                     [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
        </div>
          <div class="form-row p-bottom">
            <div class="col-md-4"><span class="font-light-gray">Nombre de services web exposés data+lab</span></div>
            <div class="col-md-2"><input class="input-field" name="nombreServicesWebExposesDataLab" type="number"
                                         [(ngModel)]="gisement.nombreServicesWebExposesDataLab"
                                         [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
            <div class="col-md-2"><input class="input-field" name="nombreServicesWebExposesDataLabEnProjet" type="number"
                                         [(ngModel)]="gisement.nombreServicesWebExposesDataLabEnProjet"
                                         [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></div>
          </div>

        <div class="form-row p-top">
          <div class="col-md-4"><span class="font-light-gray">Niveau de complétude de la documentation</span></div>
          <div class="col-md-2"><input class="input-field" name="completude" type="number"
                                       [(ngModel)]="gisement.niveauDeCompletude"
                                       [disabled]="isDisabled" (ngModelChange)="setIsModified(true)" ></div>
          <div class="col-md-2 offset-1"><span class="font-light-gray">Services documentés</span></div>

          <div class="col-md-2"><input class="input-field" name="document" type="number"
                                       [(ngModel)]="gisement.servicesDocumentes"
                                       [disabled]="isDisabled" (ngModelChange)="setIsModified(true)" ></div>
        </div>

      </div>
    </form>

    <div class="form-header justify-content-between"><span class="font-bold-white h-font-size">Filières associées</span>
      <i class="btn-associer" (click)="openModal(Filiere, 'modal-lg')" *ngIf="!isDisabled"></i>
    </div>
    <div *ngIf="isDisabled && gisement.filieres?.length == 0" class="form-row justify-content-center">
      <span class="font-light-gray">Aucune filière associée</span>
    </div>
    <div *ngFor="let filiere of gisement.filieres; let i = index" class="row row-item">
      <div class="col-md-4 col">
          <span class="font-bold overflow" matTooltip="{{filiere.nom}}" [matTooltipPosition]="'above'"
                [matTooltipClass]="'tooltipText'">{{filiere.nom}}</span>
      </div>
      <div class="col-md-7 col"><span class="font-light-gray overflow">{{filiere.description}}</span></div>
      <div class="col-md-1 col p-0">
        <i [hidden]="isDisabled" matTooltip="Supprimer" [matTooltipPosition]="'above'"
           [matTooltipClass]="'tooltipText'" class="ic-archive" (click)="removeFiliere(i)"></i>
      </div>
    </div>
  </div>
  <div class="footer" *ngIf="isModified">
    <button class="btn-confirm" type="button" (click)="save()">Enregistrer</button>
    <button class="btn-cancel" type="button" (click)="openModal(annuler, 'modal-dialog-centered')">Annuler</button>
  </div>

</div>

<ng-template #annuler>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir quitter la page ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton «Confirmer», vous perdrez
        <br>
        toutes les informations apportées à cette fiche.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="redirect()"> Confirmer</button>
  </div>
</ng-template>

<ng-template #Filiere>
  <div class="row row-modal-item"><span class="font-bold">Associer des filières</span></div>
  <div class="row row-modal-item"> <span class="font-light-gray">Vous pouvez associer une/filière(s) à ce gisement en les sélectionnant ci-dessous.
       </span></div>

  <div class="modal-container">
    <div *ngFor="let filiere of filieres; let i = index" class="row row-item">
      <div class="col-md-4 col">
        <label class="container">
          <input type="checkbox" [checked]="filiere.associated" (change)="filiere.associated = !filiere.associated">
          <span class="checkmark"></span>
        </label>
        <span class="font-bold overflow">{{filiere.nom}}</span>
      </div>
      <div class="col-md-8 col"><span class="font-light-gray overflow">{{filiere.description}}</span>
      </div>
    </div>
  </div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="associerFilieres()"> Confirmer</button>
  </div>
</ng-template>
