<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white">{{titre}}</span>
    <span class="font-light h-font-size">{{titre2}}</span>
  </div>
  <div class="body-container flex">
    <div class="col-md-9 p-0">
      <div class="form-header"><span class="font-bold-white h-font-size">Informations générales</span></div>
      <form #f="ngForm">
        <div class="form-body flex">
          <div class="col-md-6 p-right-0">
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Libellé du terme*</span></div>
              <div class="col-md-8"><input class="input-field" name="nom"
                                           [ngClass]="{'input-field-error': isInvalid(terme.libelle)}"
                                           [(ngModel)]="terme.libelle" (ngModelChange)="setIsModified(true)" [disabled]="isDisabled"></div>
              <span class ="font-circular-light-italic-error" *ngIf="isInvalid(terme.libelle)">Champ obligatoire</span>
            </div>
            <div class="form-row ">
              <div class="col-md-4"><span class="font-light-gray">Définition</span></div>
              <div class="col-md-8"><textarea name="description" [(ngModel)]="terme.definitions[0].definition"
                                              (ngModelChange)="setIsModified(true)" [disabled]="isDisabled"></textarea></div>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Commentaire</span></div>
              <div class="col-md-8"><input class="input-field" name="commentaire" [(ngModel)]="terme.commentaire"
                                           (ngModelChange)="setIsModified(true)" [disabled]="isDisabled"></div>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Abréviation</span></div>
              <div class="col-md-8"><input class="input-field" name="abrv" [(ngModel)]="terme.abreviation"
                                           (ngModelChange)="setIsModified(true)"  [disabled]="isDisabled"></div>
            </div>
          </div>
          <div class="col-md-6 p-right-0">
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Filière*</span></div>
              <div class="col-md-8" [ngClass]="{'selectize-error': isInvalid(terme.filieres[0]?.idFiliere)}">
                <ng-selectize name="filiere" [enabled]="!isDisabled" [config]="filiereSelectConfig" [options]="filieres"
                               [(ngModel)]="terme.filieres[0].idFiliere"
                              (ngModelChange)="changeFiliere()" ></ng-selectize></div>
              <span class="font-circular-light-italic-error" *ngIf="isInvalid(terme.filieres[0]?.idFiliere)">Champ obligatoire</span>
            </div>

          </div>
        </div>
      </form>
      <div class="form-header"><span class="font-bold-white h-font-size">Documentation associée</span></div>
      <div *ngIf="isDisabled && terme.documents.length == 0" class="form-row justify-content-center">
        <span class="font-light-gray">Aucune documentation associée</span>
      </div>
      <div class="row row-doc" *ngFor="let doc of terme.documents ; let i = index">
        <div class="col-md-6 form-row p-right-0">
          <div class="col-md-4 col"><span class="font-light-gray overflow">Nom du document*</span></div>
          <div class="col-md-8"><input class="input-field w-80 overflow"  [ngClass]="{'input-field-error': isInvalid(doc.titre)}"
                                       [(ngModel)]="doc.titre" (ngModelChange)="setIsModified(true)" [disabled]="isDisabled">
          </div>
          <span class ="font-circular-light-italic-error" *ngIf="isInvalid(doc.titre)">Champ obligatoire</span>
        </div>
        <div class="col-md-6 form-row">
          <div class="col-md-4 col"><span class="font-light-gray overflow">URL du document*</span></div>
          <div class="col-md-8 col"><input class="input-field w-80 overflow url"  [ngClass]="{'input-field-error': isInvalid(doc.url)}"
                                           [(ngModel)]="doc.url" (ngModelChange)="setIsModified(true)" [disabled]="isDisabled">
            <i *ngIf="!isDisabled" class="ic-archive"  matTooltip="Supprimer"
               [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="removeDocument(i)"></i>
          </div>
          <span class ="font-circular-light-italic-error" *ngIf="isInvalid(doc.url)">Champ obligatoire</span>
        </div>
      </div>
      <div class="row row-doc" *ngIf="!isDisabled">
        <div class="col-md-6 form-row p-right-0" [ngClass]="{'p-top': libelleDocError}">
          <div class="col-md-4 col"><span
            class="font-light-gray overflow">Nom du document*</span>
          </div>
          <div class="col-md-8"><input class="input-field w-80" name="nom" [ngClass]="{'input-field-error': libelleDocError}"
                                       [(ngModel)]="doc.titre" (ngModelChange)="setIsModified(true)">
          </div>
          <span class ="font-circular-light-italic-error" *ngIf="libelleDocError">Champ obligatoire</span>
        </div>
        <div class="col-md-6 form-row p-right-0" [ngClass]="{'p-top': libelleUrlError}">
          <div class="col-md-4 col"><span
            class="font-light-gray overflow">URL du document*</span></div>
          <div class="col-md-8"><input class="input-field w-80" name="description" [ngClass]="{'input-field-error': libelleUrlError}"
                                       [(ngModel)]="doc.url" (ngModelChange)="setIsModified(true)">
            <button class="btn-ajout" type="button"  matTooltip="Créer"
                    [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="addDocument()">
              <img class="ic-add" src="/agora-admin/assets/img/add.png">
            </button>
          </div>
          <span class ="font-circular-light-italic-error" *ngIf="libelleUrlError">Champ obligatoire</span>
        </div>
      </div>
      <div class="form-header"><span class="font-bold-white h-font-size">Objets métier associés</span>
        <i [hidden]="isDisabled" class="btn-associer"  matTooltip="Relier"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="openModalObjet(objet)"></i></div>
      <div *ngIf="isDisabled && terme.objets.length == 0" class="form-row justify-content-center">
        <span class="font-light-gray">Aucun objet associé</span>
      </div>
      <div class="flex row-filter" [hidden]="terme.objets.length == 0">
        <app-filter class="w-100" [component]="'terme'"></app-filter>
      </div>
      <div *ngFor="let objet of filtredObjetAssoc; let i = index" class="row row-item">
        <div class="col-md-2 col"><span class="font-bold overflow"   matTooltip="{{objet.libelle}}"
                                        [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">{{objet.libelle}}</span></div>
        <div class="col-md-4 col"><span
          class="font-light-gray overflow">{{objet.definitions[0]?.definition}}</span></div>
        <div class="col-md-3 col"><span class="font-medium overflow">{{objet.filieres[0]?.nom}}</span></div>
        <div class="col-md-2 col"><span class="font-light-gray overflow">{{objet.statut?.libelle}}</span></div>
        <div class="col-md-1 col p-0">
          <i [hidden]="isDisabled" class="ic-archive" matTooltip="Supprimer"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="removeObjet(i)"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3 p-right-0">
      <app-workflow [status]="status" [status1]="status1"></app-workflow>
      <div class="margin-top" *ngIf="showButton('valider')">
        <span class="font-light-gray">Commentaire:</span>
        <textarea class="comment" [(ngModel)]="commentaire"></textarea>
      </div>
      <div class="btn">
        <button class="btn-confirm"  type="button" *ngIf="showButton('save')"
                (click)="save(statusAccessor.BROUILLON,'save')">Enregistrer
        </button>
        <button class="btn-submit" *ngIf="showButton('submit')"
                type="button" (click)="submit()">Soumettre
        </button>
        <button class="btn-cancel" *ngIf="showButton('save')"
                type="button" (click)="openModal(annuler)">Annuler
        </button>
        <button class="btn-cancel"  *ngIf="showButton('corriger')"
                (click)="refuser()">Annuler et corriger
        </button>
        <button class="btn-confirm" *ngIf="showButton('valider')"
                type="button" (click)="valider()">Valider
        </button>
        <button class="btn-refuser" type="button"  *ngIf="showButton('valider')"
                (click)="refuser()">Refuser
        </button>
      </div>
    </div>
  </div>

<ng-template #annuler>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir quitter la page ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », vous perdrez <br>
    toutes les informations apportées à cette fiche.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="redirect()"> Confirmer</button>
  </div>
</ng-template>

<ng-template #objet>
  <div class="row row-modal-item"><span class="font-bold">Relier des objets métier</span></div>
  <div class="row row-modal-item"> <span class="font-light-gray">
      Vous pouvez relier des objets métier au terme {{terme.libelle}} en les sélectionnant ci-dessous.</span></div>
  <div class="flex">
    <app-filter class="w-100"  [component]="''"></app-filter>
  </div>
  <div class="modal-container">
    <div *ngFor="let obj of filtredObjets; let i = index" class="row row-item">
      <div class="col-md-4 col">
        <label class="container">
          <input type="checkbox" [checked]="obj.associated" (change)="obj.associated = !obj.associated">
          <span class="checkmark"></span>
        </label>
        <span class="font-bold overflow" matTooltip="{{obj.libelle}}"
              [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">{{obj.libelle}}</span>
      </div>
      <div class="col-md-3 col"><span class="font-light-gray overflow">{{obj.definitions[0]?.definition}}</span>
      </div>
      <div class="col-md-3 col"><span class="font-medium overflow">{{obj.filieres[0]?.nom}}</span></div>
      <div class="col-md-2 col"><span class="font-light-gray overflow">{{obj.statut?.libelle}}</span></div>
    </div>
  </div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="associerObjets()"> Confirmer</button>
  </div>
</ng-template>
