.body-container {
  max-height: 75%;
}

.btn-ajout {
  position: fixed;
  right: 0;
  bottom: 10px;
  height: 40px;
  width: 150px;
  margin-right: 26px;
  margin-top: 10px;
}
.ic-add {
  background-image: url(/agora-admin/assets/img/add.png);
  background-repeat: round;
  transition: 300ms;
  transform: rotate(90deg);
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-right: 7px;
}

.btn-ajout:hover .ic-add {
  transition: 300ms;
  transform: rotate(-90deg);
  background-image: url(/agora-admin/assets/img/addHover.svg);
}

.form-row {
  padding: 8px 0 8px 5px;
  margin: 0;
}


@media (min-width: 1601px) {
  :host>>>  .selectize-input {
    font-size: 15px;
  }
  textarea {
    font-size: 15px;
  }
  .font-book {
    font-size: 15px;
  }
}

@media (min-width: 1180px) and (max-width: 1600px) {
  textarea {
    font-size: 13px;
  }
}

@media (max-width: 1179px) {
  textarea {
    font-size: 11px;
  }
}

textarea {
  font-family: Circular Std Light, sans-serif;
  color:  #707070;
  height: 150px;
  border: 1px solid #cccccc;
  padding-left: 6px;
  resize: none;
}

.row-modal-item {
  font-family: Circular Std Bold, sans-serif;
  font-size: 19px;
  justify-content: center;
  padding: 15px;
  color: #A1006B;
}

.modal-content {
  padding: 23px 23px 23px 30px;
  width: 550px;
}

.font-circular-light-italic-error {
  padding-left: 43%;
}


:host>>> table {
  width: 100%!important;
  max-height: 80%;
}

tr input {
  font-family: Circular Std Light Italic, sans-serif;
  width: 100%;
  background: #4e5356;
  border: none;
  height: 30px;
  color: #FFFFFF;
  padding: 0 27px 0 10px;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 21px;
  top: 8px;
}

.padding {
  padding-right: 10px;
  padding-left: 5px;
}
:host>>> .ui-table-scrollable-body {
  overflow: auto;
}

.group-gap {
  align-self: center;
}

.avatar-upload {
  cursor: pointer;
  position: relative;
  max-width: 205px;
  margin: 10px;
  align-self: center;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-preview {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 100%;
  border: 1px solid #A1006B;
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
}

.ic-camera {
  background-image: url(/agora-admin/assets/img/Camera.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 43%;
  top: 80%;
  width: 15px;
  height: 15px;
}

.browse-button
{
  position: absolute;
  top: 0px;
  background: repeating-linear-gradient(
    180deg
    , #A1006B, transparent 58px);
  opacity: 0;
  transition: 0.3s ease;
}

.browse-button:hover
{
  opacity: 1;
}

.browse-input
{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  transform: translate(-1px,-26px);
  opacity: 0;
}

.row-modal-item .font-bold {
  font-size: 16px;
}
