

<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin">&nbsp;Filières</span>
    <span class="font-ctd">{{myTable.filteredValue? myTable.filteredValue.length: filieres.length}} résultat(s) trouvé(s)</span>
  </div>
  <p-table #myTable [value]="filieres" sortMode="multiple"  [scrollable]="true" [rows]="100" [scrollHeight]="'calc(100vh - 256px)'">
    <ng-template pTemplate="header">
      <tr class="row align-header-items">
        <th class="col-md-2 col">
          <input placeholder="Nom de la filière"
                 (input)="myTable.filter($event.target.value, 'nom', 'contains')">
          <i class="ic-search"></i>
        </th>
        <th class="col-md-2 col">
          <p-multiSelect
            [options]="users" (onChange)="myTable.filter($event.value, 'responsableDeFiliere.nomComplet','in')"
            [defaultLabel]="'Responsable'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'responsableDeFiliere.nomComplet'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-2 col p-0">
          <p-multiSelect
            [options]="users" (onChange)="myTable.filter($event.value, 'responsableDeFiliereDelegue.nomComplet','in')"
            [defaultLabel]="'Responsable délégué'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'responsableDeFiliereDelegue.nomComplet'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-2 col">
          <p-multiSelect
            [options]="users" (onChange)="myTable.filter($event.value, 'coordinateurDeFiliere.nomComplet','in')"
            [defaultLabel]="'Coordinateur'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'coordinateurDeFiliere.nomComplet'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-3 col">
          <input placeholder="Raison d’être"
                 (input)="myTable.filter($event.target.value, 'description', 'contains')">
          <i class="ic-search"></i>
        </th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-filiere>
      <tr class="row align-body-items">
        <td class="col-md-2 col"><span class="font-bold overflow pointer"  matTooltip="{{filiere.nom}}"
                                       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" [routerLink]="['/main/filiere']"
                                       (click)="changeDataService(filiere)">{{filiere.nom}}</span></td>

        <td class="col-md-2 col">
        <span
          class="font-light-gray overflow">{{filiere.responsableDeFiliere ?.nomComplet }}
        </span></td>
        <td class="col-md-2 col p-0"><span
          class="font-light-gray overflow">{{filiere.responsableDeFiliereDelegue ?.nomComplet }}</span></td>
        <td class="col-md-2 col">  <span
          class="font-light-gray overflow">{{filiere.coordinateurDeFiliere ?.nomComplet }}</span></td>
        <td class="col-md-3 col">
          <span class="font-light-gray overflow">{{ filiere.description }}</span></td>
        <td class="col-md-1 col p-0">
          <i class="ic-consult" matTooltip="Visualiser"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" [routerLink]="['/main/filiere']"
             (click)="changeDataService(filiere)"></i>
          <i class="ic-edit" *ngIf="showButton('edit', filiere)" matTooltip="Editer"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" [routerLink]="['/main/filiere']" [queryParams]="{action:'edit'}"
             (click)="changeDataService(filiere)"></i>
          <i class="ic-archive" *ngIf="connectedUser.isAdmin" matTooltip="Archiver"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
             (click)="openModal(archiveFiliere, filiere, 'modal-dialog-centered')"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button class="btn-ajout" type="button" *ngIf="connectedUser.isAdmin" (click)="openModal(addFiliere, null, 'modal-dialog-md')">
    <img class="ic-add" src="/agora-admin/assets/img/add.png"> Créer une filière
  </button>
</div>

<ng-template #addFiliere>
  <div class="group-gap">
    <!-- Upload image -->
    <div class="avatar-upload">
      <div class="avatar-edit">
        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
      </div>
      <div class="avatar-preview">
        <div id="imagePreview" [style.background] = "imageUrl == ''? '#EEDCEB': ''" [style.backgroundImage]="'url('+ imageUrl +')'">
        </div>
        <div class="browse-button" (click)="fileInput.click()">
          <i class="ic-camera"></i>
        </div>
      </div>
    </div>
  </div>
  <header>
    <div class="row row-modal-item"> Céer une filière</div>
  </header>
  <section>
    <div class="form-row">
      <div class="col-md-5 col"><span class="font-light-gray">Nom de filière*</span></div>
      <div class="col-md-7"><input class="input-field" name="nom" [(ngModel)]="filiere.nom"
                                   [ngClass]="{'input-field-error': isInvalid(filiere.nom)}">
      </div>
      <span class="font-circular-light-italic-error" *ngIf="isInvalid(filiere.nom)">Champ obligatoire</span>
    </div>
    <div class="form-row">
      <div class="col-md-5 col"><span class="font-light-gray">Responsable de la filière</span></div>
      <div class="col-md-7">
        <ng-autocomplete name="responsable" [(ngModel)]="filiere.responsableDeFiliere" [data]="responsables"
                         [searchKeyword]="keyword"
                         [itemTemplate]="itemTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nomComplet"></a>
        </ng-template>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-5 col"><span class="font-light-gray">Responsable délégué</span></div>
      <div class="col-md-7">
        <ng-autocomplete name="responsableDelegue" [(ngModel)]="filiere.responsableDeFiliereDelegue" [data]="responsables"
                         [searchKeyword]="keyword"
                         [itemTemplate]="itemTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nomComplet"></a>
        </ng-template>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-5 col"><span class="font-light-gray">Coordinateur de filière</span></div>
      <div class="col-md-7">
        <ng-autocomplete name="coordinateur" [(ngModel)]="filiere.coordinateurDeFiliere" [data]="responsables"
                         [searchKeyword]="keyword"
                         [itemTemplate]="itemTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nomComplet"></a>
        </ng-template>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-5 text-left"><span class="font-light-gray">Raison d’être</span></div>
      <div class="col-md-7"><textarea [(ngModel)]="filiere.description"></textarea></div>
    </div>
  </section>
  <footer>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="cancel()"> Annuler</button>
      <button class="btn-confirm" type="button" (click)="submit()"> Confirmer</button>
    </div>
  </footer>
</ng-template>
<ng-template #archiveFiliere>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver une filière ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez la filière &nbsp;<span class="font-bold">{{filiere.nom}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiver()"> Confirmer</button>
  </div>
</ng-template>
