.btn-ajout {
  position: fixed;
  right: 0;
  bottom: 10px;
  height: 40px;
  width: 150px;
  margin-right: 26px;
  margin-top: 10px;
}
.ic-add {
  background-image: url(/agora-admin/assets/img/add.png);
  background-repeat: round;
  transition: 300ms;
  transform: rotate(90deg);
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-right: 7px;
}

.btn-ajout:hover .ic-add {
  transition: 300ms;
  transform: rotate(-90deg);
  background-image: url(/agora-admin/assets/img/addHover.svg);
}
:host>>> table {
  width: 100%!important;
  max-height: 80%;
}

tr input {
  font-family: Circular Std Light Italic, sans-serif;
  width: 100%;
  background: #4e5356;
  border: none;
  height: 30px;
  color: #FFFFFF;
  padding: 0 27px 0 10px;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 21px;
  top: 8px;
}

.margin {
  margin-right: 45px;
}
:host>>> .ui-table-scrollable-body {
  overflow: auto;
}
.padding {
  padding-right: 10px;
  padding-left: 5px;
}
