<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin">{{titre}}</span>
    <span class="font-ctd">{{myTable.filteredValue? myTable.filteredValue.length: gisements.length}} résultat(s) trouvé(s)</span>
  </div>

<p-table #myTable [value]="gisements" sortMode="multiple"  [scrollable]="true" [rows]="100" [scrollHeight]="'calc(100vh - 256px)'">
  <ng-template pTemplate="header">
    <tr class="row align-header-items">
      <th class="col-md-3 col">
        <i class="ic-search"></i>
        <input placeholder="Nom du gisement"
               (input)="myTable.filter($event.target.value, 'libelle', 'contains')"></th>
      <th class="col-md-4 col">
        <i class="ic-search"></i>
        <input  placeholder="Description"
                (input)="myTable.filter($event.target.value, 'description', 'contains')"></th>
      <th class="col-md-3 col"> <p-multiSelect
        [options]="filieres" (onChange)="myTable.filter($event.value, 'filiere','contains')"
        [defaultLabel]="'Filière(s) Associée(s)'" appendTo="body"></p-multiSelect>
        <div [pSortableColumn]="'filiere'">
          <i class="ic-sort"></i>
        </div>
      </th>
      <th class="col-md-1 col p-0"><p-multiSelect
        [options]="statuts"  (onChange)="myTable.filter($event.value, 'statut','in')"
        [defaultLabel]="'Statut'" appendTo="body"></p-multiSelect>
        <div [pSortableColumn]="'statut'">
          <i class="ic-sort"></i>
        </div>
      </th>
      <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gisement>
    <tr class="row align-body-items">
      <td class="col-md-3 col"><span class="font-bold overflow pointer"  matTooltip="{{gisement.libelle}}"
                                     [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                     [routerLink]="['/main/gisement']" [queryParams]="{action:'consult'}">{{gisement.libelle}}</span></td>
      <td class="col-md-4 col"><span class="font-light-gray overflow">{{gisement.description}}</span></td>
      <td class="col-md-3 col grid">
        <span *ngFor="let filiere of gisement.filieres" class="font-light-gray overflow">{{filiere.nom}}</span></td>
      <td class="col-md-1 col"><span class="font-light-gray overflow">{{gisement.statut  | titlecase}}</span></td>
      <td class="col-md-1 padding col">
        <i class="ic-consult"  matTooltip="Visualiser" [routerLink]="['/main/gisement']" [queryParams]="{action:'consult'}"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="changeData(gisement)">
        </i>
        <i class="ic-edit"  matTooltip="Editer" [routerLink]="['/main/gisement']" [queryParams]="{action:'edit'}"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="changeData(gisement)"
              *ngIf="connecterUser.isAdmin || isResponsable">
        </i>
        <i class="ic-archive"  matTooltip="Archiver" (click)="openModal(gisement, archive)"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" *ngIf="connecterUser.isAdmin">
        </i>
      </td>
    </tr>
  </ng-template>
</p-table>
  <button *ngIf="connecterUser.isAdmin || isResponsable" class="btn-ajout" type="button" [routerLink]="['/main/gisement']">
    <img class="ic-add" src="/agora-admin/assets/img/add.png"> Créer un gisement
  </button>
</div>

<ng-template #archive>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un gisement ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez le gisement &nbsp;<span class="font-bold">{{gisement.libelle}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiveGisement()"> Confirmer</button>
  </div>
</ng-template>
