@media (min-width: 1601px)  {
  .filter-input {
    height: 50px;
  }
  .btn-search {
    font-size: 15px;
    height: 50px;
    width: 120px;
  }
  .font-bold {
    font-size: 19px;
  }
  .dropdown {
    width: 109px;
  }
  .btn-ajout {
    font-size: 15px;
    height: 50px;
    margin-left: 40px;
  }
  button {
    font-size: 15px;
    height: 50px;
  }
}

@media (min-width: 1150px) and (max-width: 1600px){
  .filter-input {
    height: 45px;
  }
  .btn-search {
    font-size: 14px;
    height: 45px;
    width: 116px;
  }
  .font-bold {
    font-size: 16px;
  }
  .dropdown {
    width: 109px;
  }
  .btn-ajout {
    font-size: 14px;
    height: 45px;
    margin-left: 30px;
  }
  button {
    font-size: 14px;
    height: 45px;
  }

}

@media (max-width: 1149px) {
  .filter-input {
    height: 45px;
  }

  .btn-search {
    font-size: 13px;
    height: 45px;
    width: 107px;
  }
  .font-bold {
    font-size: 13px;
  }
  .dropdown {
    width: 100px;
  }
  .btn-ajout {
    font-size: 13px;
    height: 45px;
    margin-left: 20px;
  }
  button {
    font-size: 13px;
    height: 45px;
  }
}


input {
  height: 15px;
  border: none;
  width: 100%;
}

.filter-input {
  display: flex;
  border: 1px solid #AAAAAA;
  opacity: 0.5;
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 14px;
  color: #909090;
  padding: 16px;
  width: 55%;
}

.ic-arrow {
  background-image: url(/agora-admin/assets/img/select.png);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  padding: 0px 6px 6px 15px;
  align-self: center;
}

.btn-search {
  font-family: Circular Std Light, sans-serif;
  margin-left: 5px;
  background: #3A3F43;
  border: none;
  color: #FFFFFF;
}

.btn-ajout {
  font-family: Circular Std Light, sans-serif;
  width: 100%;
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #A1006B ;
  color: #ffffff;
}

.btn-ajout:hover {
  background: #ffffff;
  border-bottom:  #A1006B solid;
  color: #A1006B;
}

.nav-item {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  color: #464A53;
}

.nav-item:hover {
  text-decoration: none!important;
  width: 100%;
  color: white!important;
  background:  #A1006B!important;
}

*,*:focus,*:hover{
  outline:none;
}

.ic-profil {
  background-image: url(/agora-admin/assets/img/Profil.svg);
  background-repeat: no-repeat;
  padding: 17px;
  margin: 5px;
  align-self: center;
}

.font-bold {
  color: #A1006B;
  padding-right: 3px;
}

.font-light-gray {
  padding-left: 3px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
}

.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 15px;
}

.header {
  display: flex;
  padding: 15px 5px 15px 25px;
  justify-content: space-between;
  background: #FFFFFF;
}

button:not(:disabled) {
  cursor: pointer;
}

.dropdown-divider {
  margin: 0;
  border-top: 2px solid #AAAAAA;
  opacity: 0.2;
}

.dropdown-menu {
  border: none;
  box-shadow: 0px 0px 5px #7777774D;
  border-radius: 3px;
}

span {
  cursor: pointer;
}

.profil .dropdown-item {
  height: 33px!important;
}

.dropdown-item:active {
  color: #A1006B;
  text-decoration: underline;
}

.dropdown-item:hover {
  color: #A1006B;
  text-decoration: underline;
  background-color: #FFFFFF;
}

.dropdown-toggle::after {
  display: none!important;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}
