<div class="header">
  <div class="row w-70">
    <div class="filter-input">
      <i class="ic-search"></i>
      <input [(ngModel)]="motif" placeholder=" Recherche globale dans AGORA" type="search">
    </div>
    <button class="btn-search" type="button" (click)="search()">Rechercher</button>
    <div ngbDropdown>
      <button class="btn-ajout" type="button" ngbDropdownToggle>
        <img class="ic-add" src="/agora-admin/assets/img/add.png"> Créer
      </button>
      <div ngbDropdownMenu class="p-0">
        <button class="nav-item hover" *ngIf="acteur?.isAdmin || acteur?.isValideur || acteur?.isRedacteur" [routerLink]="['/main/terme']" ngbDropdownItem>Créer un terme</button>
        <div class="dropdown-divider"></div>
        <button class="nav-item hover" *ngIf="acteur?.isAdmin || acteur?.isValideur || acteur?.isRedacteur" [routerLink]="['/main/objet']"  ngbDropdownItem>Créer un objet</button>
        <div class="dropdown-divider"></div>
        <button class="nav-item hover"  *ngIf="acteur?.isAdmin || acteur?.isResponsable" [routerLink]="['/main/acteurs']" [queryParams]="{'ajout': true}" ngbDropdownItem>Créer un acteur</button>
      </div>
    </div>
  </div>
  <div class="flex justify-content-end w-30">
    <div ngbDropdown display="dynamic" placement="bottom-right" style="    max-width: 100%;width: auto;">
      <div class="nav-items" tabindex="0" ngbDropdownToggle id="navbarDropdown" role="button">
        <i class="ic-profil"></i> <span class="font-bold overflow" href="#">{{userName | async}}</span>
        <i class="ic-arrow"></i>
      </div>
      <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu profil">
        <button [routerLink]="['/main/mon-profil']" ngbDropdownItem>Gérer le profil</button>
        <button *ngIf="acteur?.isAdmin || acteur?.isValideur || acteur?.isRedacteur" [routerLink]="['/main/brouillon']" ngbDropdownItem>Mes brouillons</button>
        <button *ngIf="acteur?.isAdmin || acteur?.isValideur" [routerLink]="['/main/validation']" ngbDropdownItem>Mes validations</button>
        <button *ngIf="acteur?.isAdmin || authorized" [routerLink]="['/main/affectation']" ngbDropdownItem>Affecter sur ma filière</button>
        <div class="flex justify-content-center"><button class="btn-confirm overflow" (click)="logOut()">Déconnexion</button></div>
      </div>
    </div>
  </div>
</div>
