<div class="app-login">
  <div class="login-container">
      <img class="logo-sncf" src="/agora-admin/assets/img/Logo_SNCF.png">
      <img  class="logo" src="/agora-admin/assets/img/logo-agora.svg">

    <span class="font-light-gray" *ngIf="cp">L'utilisateur {{cp}} n'existe pas dans la base</span>
    <span class="font-light-gray">Bienvenue sur l’application AGORA</span>
    <button type="button"  class="btn-confirm" (click)="login()">Se connecter</button>
    <div class="font-book btn-block flex justify-content-center"><span>Vous n’avez pas de compte ?</span>
      <a href="mailto:GU.DATA.RESEAU@sncf.fr?subject=Agora - Demande de création nouvel utilisateur&body=Bonjour,%0D%0A%0D%0APouvez-vous m’habiliter. Voici les informations nécessaires :%0D%0A%0D%0ANom/Prénom :%0D%0APoste occupé :%0D%0AAdresse mail :%0D%0ACode CP :%0D%0AID Caiman (si vous ne possédez pas de compte Caiman, merci de le préciser) :%0D%0A%0D%0AMerci d'avance pour votre prise en compte."> En créer un</a></div>
  </div>
</div>
