.app-login {
  background: #A1006B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  width: 429px;
  height: 330px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

a {
  text-decoration: underline!important;
  color: #A1006B!important;
  cursor: pointer!important;
  margin-left: 10px;
}

span {
  color: #393939;
}

.logo {
  height: 80px;
}

.logo-sncf {
  width: 65px;

}
