<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin">Mes validations</span>
    <span class="font-ctd">{{validations.length}} résultat(s) trouvé(s)</span>
  </div>
  <p-table #myTable [value]="validations" sortMode="multiple"  [scrollable]="true" [rows]="100" [scrollHeight]="'calc(100vh - 220px)'">
    <ng-template pTemplate="header">
      <tr class="row align-header-items">
        <th class="col-md-2 col">
          <i class="ic-search"></i>
          <input placeholder="Libellé"
                 (input)="myTable.filter($event.target.value, 'libelle', 'contains')"></th>
        <th class="col-md-2 col p-0"><p-multiSelect
          [options]="types"  (onChange)="myTable.filter($event.value, 'type','in')"
          [defaultLabel]="'Type'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'type'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-4 col">
          <i class="ic-search"></i>
          <input  placeholder="Description"
                  (input)="myTable.filter($event.target.value, 'definition', 'contains')"></th>
        <th class="col-md-2 col"> <p-multiSelect
          [options]="users" (onChange)="myTable.filter($event.value, 'proprietaire.nomComplet','in')"
          [defaultLabel]="'Soumis par'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'proprietaire.nomComplet'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Statut</span></th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-validation>
      <tr class="row align-body-items">
        <td class="col-md-2 col"><span class="font-bold overflow pointer"  matTooltip="{{validation.libelle}}"
                                       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                       (click)="validation.type == 'Objet métier' ? editObjet(validation): editTerme(validation)" [routerLink]="validation.type == 'Objet métier' ? ['/main/objet']: ['/main/terme']"
                                       [queryParams]="{action:'consult'}">{{validation.libelle}}</span></td>
        <td class="col-md-2 col"><span class="font-light-gray overflow">{{validation.type}}</span></td>
        <td class="col-md-4 col"><span class="font-light-gray overflow">{{validation.definition}}</span></td>
        <td class="col-md-2 col"><span class="font-light-gray overflow">{{validation.proprietaire?.nomComplet}}</span></td>
        <td class="col-md-1 col"><span class="font-light-gray overflow">{{validation.statut?.libelle}}</span></td>
        <td class="col-md-1 padding col">
          <i class="ic-consult"  matTooltip="Visualiser"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
             (click)="validation.type == 'Objet métier' ? editObjet(validation): editTerme(validation)" [routerLink]="validation.type == 'Objet métier' ? ['/main/objet']: ['/main/terme']"
             [queryParams]="{action:'consult'}">
          </i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
