.body-container {
  max-height: 75%;
}

.ajout {
  position: fixed;
  right: 0;
  bottom: 10px;
  height: 40px;
  width: 150px;
  margin-right: 26px;
  margin-top: 10px;
}


:host>>> table {
  width: 100%!important;
  max-height: 80%;
}

tr input {
  font-family: Circular Std Light Italic, sans-serif;
  width: 100%;
  background: #4e5356;
  border: none;
  height: 30px;
  color: #FFFFFF;
  padding: 0 27px 0 10px;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 21px;
  top: 8px;
}

.padding {
  padding-right: 10px;
  padding-left: 5px;
}
.row-modal-item {
  font-family: Circular Std Bold, sans-serif;
  font-size: 19px;
  justify-content: center;
  padding: 18px;
  color: #A1006B;
}

.row-modal-item .font-bold {
  font-size: 16px;
}

.form-row {
  padding: 8px 0 8px 5px;
  margin: 0;
}

:host>>>  .selectize-input {
  font-family: Circular Std Light, sans-serif;
  color: #707070;
  height: 30px;
  border: 1px solid #cccccc;
  padding-left: 6px;
  width: 90%;
}

:host>>>   .selectize-control .selectize-input.disabled {
  background: #F2F2F2;
  border: none;
  opacity: 1;
}

:host>>>   .selectize-control.single .selectize-input:after {
  border-style: none;
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 33%;
  width: 8%;
  top: 42%;
  right: 10px;
}

:host>>>  .selectize-control.single .selectize-input.input-active.dropdown-active:after {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 33%;
  width: 8%;
}

:host>>>  .selectize-control.single .selectize-input.disabled:after {
  display: none;
}

:host>>>  .selectize-dropdown-content {
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  color: #707070;
}

:host>>>  .selectize-dropdown .active{
  background: #A1006B;
  color: #FFFFFF;
}

:host>>> .ui-table-scrollable-body {
  overflow: auto;
}

.btn-ajout {
  margin-top: 20px!important;
}

 .align {
  margin: 10px 20px 10px 20px!important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 17px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A1006B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #A1006B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}
