<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin">&nbsp;Acteurs de la gouvernance</span>
    <span class="font-ctd">{{myTable.filteredValue? myTable.filteredValue.length: acteurs.length}} résultat(s) trouvé(s)</span>
  </div>
  <p-table #myTable [value]="acteurs" sortMode="multiple" [scrollable]="true" [rows]="5"
           [scrollHeight]="'calc(100vh - 256px)'">
    <ng-template pTemplate="header">
      <tr class="row align-header-items">
        <th class="col-md-3 col">
          <input placeholder="Nom d'acteur"
                 (input)="myTable.filter($event.target.value, 'nomComplet', 'contains')">
          <i class="ic-search"></i>
        </th>
        <th [ngClass]="isAdmin? 'col-md-3 col p-0' : 'col-md-4 col p-0'">
          <p-multiSelect
            [options]="famillesRole" (onChange)="myTable.filter($event.value, 'familleRole','contains')"
            [defaultLabel]="'Famille de rôle'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'familleRole'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th [ngClass]="isAdmin? 'col-md-3 col' : 'col-md-4 col'">
          <p-multiSelect
            [options]="rolesFilter" (onChange)="myTable.filter($event.value, 'role','contains')"
            [defaultLabel]="'Rôle fonctionnel'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'role'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th *ngIf="isAdmin" class="col-md-2 col">
          <p-multiSelect type="boolean"
            [options]="options" (onChange)="myTable.filter($event.value, 'isAdmin','in')"
            [defaultLabel]="'Administrateur'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'administrateur'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-acteur>
      <tr class="row align-body-items">
        <td class="col-md-3 col"><span class="font-bold overflow pointer" matTooltip="{{acteur.nomComplet}}"
                                       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                       (click)="openModal(acteur, true, Acteur)">
          {{acteur.nomComplet ? acteur.nomComplet : '—' }}
        </span></td>

        <td [ngClass]="isAdmin? 'col-md-3 p-0 grid' : 'col-md-4 p-0 grid'">
          <span *ngFor="let famille of acteur.familleRoles"
          class="font-light-gray overflow">{{famille ? famille.nom : '—' }}</span>
        </td>
        <td [ngClass]="isAdmin? 'col-md-3 col grid' : 'col-md-4 col grid'">
             <span *ngFor="let role of acteur.roles"
                   class="font-light-gray overflow">{{role ? role.nom : '—' }}</span></td>
        <td *ngIf="isAdmin" class="col-md-2 col">
        <span
          class="font-light-gray overflow">{{acteur.isAdmin? 'Oui': 'Non' }}
        </span></td>
        <td class="col-md-1 padding col">
          <i class="ic-consult" matTooltip="Visualiser"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="openModal(acteur, true, Acteur)">
          </i>
          <i class="ic-edit" *ngIf="isAdmin || isReponsable" matTooltip="Editer"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
             (click)="openModal(acteur, false, Acteur)">
          </i>
          <i class="ic-archive" *ngIf="isAdmin" matTooltip="Archiver"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
             (click)="openModalArchive(acteur, archiveActeur)">
          </i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button *ngIf="isAdmin" class="btn-ajout ajout" type="button" (click)="openModal(null, false, Acteur)">
    <img class="ic-add" src="/agora-admin/assets/img/add.png"> Créer un acteur
  </button>
</div>

<ng-template #Acteur>
  <header>
    <div class="row row-modal-item"> {{modalTitle}}</div>
  </header>
  <section class="flex">
    <div class="col-md-6">
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Nom*</span></div>
        <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.nom"
                                     [ngClass]="{'input-field-error': isInvalid(acteur.nom)}"
                                     (clickOutside)="acteur.nom = changeValue(acteur.nom)" [disabled]="disabled">
        </div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(acteur.nom)">Champ obligatoire</span>

      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Prenom*</span></div>
        <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.prenom"
                                     [ngClass]="{'input-field-error': isInvalid(acteur.prenom)}"
                                     (clickOutside)="acteur.prenom = changeValue(acteur.prenom)" [disabled]="disabled">
        </div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(acteur.prenom)">Champ obligatoire</span>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Email</span></div>
        <div class="col-md-8"><input class="input-field" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                     type="email" [(ngModel)]="acteur.adresseMail" [disabled]="disabled"
                                     (ngModelChange)="email.errors && email.errors.pattern? changeMail(true): changeMail(false)"
                                     id="email" #email="ngModel"
                                     [ngClass]="{'input-field-error': required && emailErrone}">
        </div>
      </div>
      <div  *ngIf="isAdmin" class="form-row">
        <div class="col-md-6"><span class="font-light-gray">Administrateur fonctionnel</span></div>
        <div class="col-md-6">
          <label class="switch">
            <input [disabled]= "disabled" type="checkbox" [checked]="acteur.isAdmin" (change)="acteur.isAdmin = !acteur.isAdmin">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Organisation</span></div>
        <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.organisation" [disabled]="disabled">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Poste</span></div>
        <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.poste" [disabled]="disabled">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Code CP*</span></div>
        <div class="col-md-8"><input class="input-field" [(ngModel)]="acteur.cp" [disabled]="disabled"
                                     [ngClass]="{'input-field-error': isInvalid(acteur.cp)}">
        </div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(acteur.cp)">Champ obligatoire</span>
      </div>
    </div>
  </section>
  <div class="row align-header-items align"><span class="font-light p-3">Rôle Data Gouvernance</span></div>
  <div *ngFor="let role of acteur.roles; let i = index;" class="form-row align p-0">
    <div class="col-md-4"><span for="famille2" class="font-light-gray">Famille de rôle</span>
      <input [disabled]="true" id="famille2" class="input-field"
                    [value]="acteur.familleRoles[i].nom">
    </div>
    <div class="col-md-4"><span for="role2" class="font-light-gray">Rôle fonctionnel</span>
      <input [disabled]="true" id="role2" class="input-field"
             [value]="acteur.roles[i].nom">


    </div>
    <i *ngIf="!disabled" class="ic-archive"  matTooltip="Archiver" (click)="deleteRole(i)"
       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" [ngStyle]="{margin: 'initial', marginLeft: '10px', marginTop: '20px'}">
    </i>
  </div>
  <div *ngIf="!disabled" class="form-row align p-0">
    <div class="col-md-4"><span for="famille" class="font-light-gray">Famille de rôle</span>

        <ng-selectize [enabled]="!disabled" id="famille"
                      [config]="selectConfig" [options]="famillesRole"
                      [(ngModel)]="familleRole.idGroupeRole"
                      (ngModelChange)="changeFamilleRoles(familleRole.idGroupeRole)"></ng-selectize>
    </div>
    <div class="col-md-4"><span for="role" class="font-light-gray">Rôle fonctionnel</span>
        <ng-selectize [enabled]="!disabled" id="role"
                      [config]="roleSelectConfig" [options]="roles"
                      [(ngModel)]="role.idRole" (ngModelChange)="changeRoles(role.idRole)"></ng-selectize>

    </div>
    <button class="btn-ajout" type="button" matTooltip="Créer" [matTooltipPosition]="'above'"
            [matTooltipClass]="'tooltipText'" (click)="addRole()">
      <img class="ic-add" src="/agora-admin/assets/img/add.png">
    </button>
  </div>
  <footer>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
      <button [hidden]="disabled" class="btn-confirm" type="button" (click)="submit()"> Confirmer</button>
    </div>
  </footer>
</ng-template>
<ng-template #archiveActeur>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un acteur ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez l’acteur &nbsp;<span class="font-bold">{{acteur.nomComplet}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiverActeur()"> Confirmer</button>
  </div>
</ng-template>
