<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin">Qualité de la donnée</span>
    <span class="font-ctd">{{myTable.filteredValue? myTable.filteredValue.length: objets.length}} résultat(s) trouvé(s)</span>
  </div>
  <p-table #myTable [value]="objets" sortMode="multiple"  [scrollable]="true" [rows]="100" [scrollHeight]="'calc(100vh - 220px)'">
    <ng-template pTemplate="header">
      <tr class="row align-header-items">
        <th class="col-md-4 col">
          <i class="ic-search"></i>
          <input placeholder="Objet fonctionnel"
                 (input)="myTable.filter($event.target.value, 'libelle', 'contains')"></th>
        <th class="col-md-7 col">
          <i class="ic-search"></i>
          <input  placeholder="Critères de qualité"
                  (input)="myTable.filter($event.target.value, 'critere', 'contains')"></th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-objet>
      <tr class="row align-body-items">
        <td class="col-md-4 col"><span class="font-bold overflow pointer"  matTooltip="{{objet.libelle}}"
                                       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                       (click)="editObjet(objet)" [routerLink]="['/main/qualite']" [queryParams]="{action:'consult'}">
           {{objet.libelle}}</span></td>
        <td class="col-md-7 col"><span class="font-light-gray overflow">{{objet.critereQualites?.length == 0? 'Aucun': objet.critere}}</span></td>
       <td class="col-md-1 p-0 col">
         <ng-container *ngIf="objet.critereQualites?.length > 0">
          <i class="ic-consult"  matTooltip="Visualiser"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="editObjet(objet)" [routerLink]="['/main/qualite']" [queryParams]="{action:'consult'}">
          </i>
          <i class="ic-edit"  matTooltip="Editer"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="editObjet(objet)" [routerLink]="['/main/qualite']" [queryParams]="{action:'edit'}">
          </i>
          <i class="ic-archive"  matTooltip="Archiver"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="openModal(objet, archiveObj)">
          </i>
         </ng-container>
         <ng-container *ngIf="objet.critereQualites?.length == 0">
         <i class="ic-add-gray m-auto" matTooltip="Créer un indicateur" [routerLink]="['/main/qualite']" [queryParams]="{action:'edit'}"
            [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"  (click)="editObjet(objet)">
         </i>
         </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #archiveObj>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver cette qualité ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez la qualité de la donnée <br>de l’objet fonctionnel<span class="font-bold"> {{objet.libelle}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiveQualite(objet)"> Confirmer</button>
  </div>
</ng-template>
