<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin">Glossaire des termes métier</span>
    <span class="font-ctd">{{myTable.filteredValue? myTable.filteredValue.length: termes.length}} résultat(s) trouvé(s)</span>
  </div>
  <p-table #myTable [value]="termes" sortMode="multiple"  [scrollable]="true" [rows]="100" [scrollHeight]="'calc(100vh - 220px)'">
    <ng-template pTemplate="header">
      <tr class="row align-header-items">
        <th class="col-md-3 col">
          <i class="ic-search"></i>
          <input placeholder="Libellé"
                     (input)="myTable.filter($event.target.value, 'libelle', 'contains')"></th>
        <th class="col-md-4 col">
          <i class="ic-search"></i>
          <input  placeholder="Description"
                                        (input)="myTable.filter($event.target.value, 'definition', 'contains')"></th>
        <th class="col-md-3 col"> <p-multiSelect
          [options]="filieres" (onChange)="myTable.filter($event.value, 'filiere','in')"
          [defaultLabel]="'Filière'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'filiere'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-1 col p-0"><p-multiSelect
          [options]="statuts"  (onChange)="myTable.filter($event.value, 'statut.libelle','in')"
          [defaultLabel]="'Statut'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'statut'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-terme>
      <tr class="row align-body-items">
        <td class="col-md-3 col"><span class="font-bold overflow pointer" matTooltip="{{terme.libelle}}"
                                        [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                        (click)="editTerme(terme)" [routerLink]="['/main/terme']"
                                        [queryParams]="{action:'consult'}">{{terme.libelle}}</span></td>
        <td class="col-md-4 col"><span class="font-light-gray overflow">{{terme.definition}}</span></td>
        <td class="col-md-3 col"><span class="font-medium overflow">{{terme.filiere}}</span></td>
        <td class="col-md-1 col"><span class="font-light-gray overflow">{{terme.statut?.libelle  | titlecase}}</span></td>
        <td class="col-md-1 padding col">
          <i class="ic-consult" matTooltip="Visualiser"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
             (click)="editTerme(terme)" [routerLink]="['/main/terme']" [queryParams]="{action:'consult'}">
          </i>
          <i class="ic-edit" matTooltip="Editer" *ngIf="showButton(terme, 'edit')"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="editTerme(terme)"
             [routerLink]="['/main/terme']" [queryParams]="{action:'edit'}">
          </i>
          <i class="ic-archive" matTooltip="Archiver" *ngIf="showButton(terme, 'archiver')"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="openModal(terme, archiveT)">
          </i>
        </td>
      </tr>
      </ng-template>
  </p-table>
</div>

<ng-template #archiveT>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un terme métier ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez le terme métier &nbsp;<span class="font-bold">{{terme.libelle}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiveTerme(terme)"> Confirmer</button>
  </div>
</ng-template>
