.padding {
  padding-right: 10px;
  padding-left: 5px;
}
.row-modal-item .font-bold {
  font-size: 16px;
}

:host>>> table {
  width: 100%!important;
  max-height: 80%;
}

input {
  font-family: Circular Std Light Italic, sans-serif;
  width: 100%;
  background: #4e5356;
  border: none;
  height: 30px;
  color: #FFFFFF;
  padding: 0 27px 0 10px;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 21px;
  top: 8px;
}
:host>>> .ui-table-scrollable-body {
  overflow: auto;
}
