.app {
  height: 400px;
  margin-bottom: 20px;
}

.col-body {
  overflow: auto;
  height: 366px;
  background: #eeeff3;
  margin-top: 10px;
  padding: 20px 0;
}


i {
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.btn {
  padding: 0 25px 0 0;
}

.padding {
  padding: 15px 30px;
}

.grid {
  display: grid;
}

.content-wrap1 {
  position: relative;
}
.content-wrap2 {
  position: relative;
}

.content-wrap1::before {
  position: absolute;
  top: calc(2% - 34px);
  right: 0;
  left: -19px;
  width: 65px;
  Content: "";
  Background-color: #8080805c;
  height: 1px;
  transform: rotate(
    90deg
  );
}

.content-wrap2::before {
  position: absolute;
  top: calc(0% - 43px);
  /* right: 12px; */
  left: -29px;
  width: 85px;
  Content: "";
  Background-color: #8080805c;
  height: 1px;
  transform: rotate(
    90deg
  );
}

.i {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  color: #777;
  border: 2px solid #777777;
  border-radius: 50%;
  padding: 1rem;
  background: #F9F9F9;
  box-shadow: 0 0 0 0.5em #F9F9F9;
}
