<div class="app">
<ng-container *ngIf="status?.length > 0 || status1?.libelle">
<div class="col-header"><span class="font-book text-white h-font-size">Statut de validation</span></div>
<div class="col-body">
  <div *ngIf="status1" class="flex justify-content-start padding">
    <button class="btn">
      <i *ngIf="status1?.libelle === statusAccessor.SOUMIS" [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/Soumis.svg)'}"></i>
      <i *ngIf="status1?.libelle === statusAccessor.AValider"  [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/En_attente.svg)'}"></i>
      <i *ngIf="status1?.libelle === statusAccessor.REFUSER"  [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/Refuser.svg)'}"></i>
      <i *ngIf="status1?.libelle === statusAccessor.VALIDE"  [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/valider.svg)'}"></i>
    </button>
    <div class="grid">
      <span class="font-light-gray overflow">{{status1.libelle}} par</span>
      <span class="font-book">{{status1?.valideur?.nomComplet}} </span>
      <span class="font-light-gray overflow">le {{status1?.dateDebutActivite | date: 'short': undefined : 'fr'}}</span>
      <span class="font-light-gray overflow" matTooltip="{{status1?.commentaire}}"
            [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">{{status1.commentaire}} </span>
    </div>
  </div>
  <div *ngFor="let statut of status; let index = index" class="flex justify-content-start padding">
    <button class="btn" [ngClass]="index > 0 && status[index - 1]?.commentaire !== ''? 'content-wrap2': 'content-wrap1'">
      <i *ngIf="statut.libelle === statusAccessor.SOUMIS" [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/Soumis.svg)'}"></i>
      <i *ngIf="statut.libelle === statusAccessor.AValider"  [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/En_attente.svg)'}"></i>
      <i *ngIf="statut.libelle === statusAccessor.REFUSER"  [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/Refuser.svg)'}"></i>
      <i *ngIf="statut.libelle === statusAccessor.VALIDE"  [ngStyle]="{backgroundImage:'url(/agora-admin/assets/img/valider.svg)'}"></i>
    </button>
  <div class="grid">
    <span class="font-light-gray overflow">{{statut.libelle}} par</span>
    <span class="font-book overflow">{{statut.nomComplet}} </span>
    <span class="font-light-gray">le {{statut.dateDebutActivite | date: 'short' : undefined : 'fr'}}</span>
    <span class="font-light-gray overflow"  matTooltip="{{statut.commentaire}}"
          [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">{{statut.commentaire}} </span>
  </div>
</div>
</div>
</ng-container>
</div>
