<div class="app-menu">
  <div>
    <div class="logo-agora">
      <img class="pointer" src="/agora-admin/assets/img/logo-agora.svg" (click)="menuItem = 'termes'" [routerLink]="['/main/termes']">
    </div>
    <ul [ngClass]="{'selected': menuItem === 'termes' }" (click)="menuItem = 'termes'" [routerLink]="['/main/termes']"><i
      class="ic-glossaire"></i><span class="overflow">Glossaire</span></ul>
    <ul (click)="dropdown = !dropdown">
      <i class="ic-obj-metier"></i>
      <span class="overflow">Objets métier</span>
      <i class="ic-select" [ngClass]="{'rotation': dropdown}"></i>
    </ul>
    <ul [hidden]="!dropdown" class="li-list" [ngClass]="{'selected': menuItem === 'objets' }" (click)="menuItem = 'objets'"
        [routerLink]="['/main/objets']"><i class="ic-obj-list"></i><span class="overflow">Liste des objets</span>
    </ul>
    <ul [hidden]="!dropdown" class="li-list"
    [ngClass]="{'selected': menuItem === 'diagrams' }" (click)="menuItem = 'diagrams'"
    [routerLink]="['/main/diagrams']"><i class="ic-relation"></i><span class="overflow">Relation des objets</span></ul>

    <ul [ngClass]="{'selected': menuItem === 'filieres' }" (click)="menuItem = 'filieres'" [routerLink]="['/main/filieres']"><i
      class="ic-filiere"></i><span
      class="overflow">Filières</span></ul>
    <ul [ngClass]="{'selected': menuItem.indexOf('acteurs') != -1 }" (click)="menuItem = 'acteurs'" [routerLink]="['/main/acteurs']">
      <i class="ic-acteur"></i><span class="overflow">Acteurs de la gouvernance</span>
    </ul>
    <ul [ngClass]="{'selected': menuItem.indexOf('qualites') != -1 }" (click)="menuItem = 'qualites'" [routerLink]="['/main/qualites']"><i class="ic-qualite"></i><span class="overflow">Qualité de la donnée</span></ul>
    <ul [ngClass]="{'selected': menuItem.indexOf('gisements') != -1 }" (click)="menuItem = 'gisements'" [routerLink]="['/main/gisements']">
      <i class="ic-gisement"></i><span class="overflow">Gisements</span> </ul>
    <!--<ul><i class="ic-param"></i><span class="overflow" >Paramètres </span></ul>-->
  </div>
  <div class="flex justify-content-center">
    <img class="logo-sncf" src="/agora-admin/assets/img/Logo_SNCF.png"></div>
</div>

