
@media (min-width: 1601px) {
  ul {
    height: 56px;
  }
  li {
    height: 56px;
  }
  .logo-agora {
    height: 90px;
  }
}
@media (max-width: 1600px) {
  ul {
    height: 40px;
  }
  li {
    height: 40px;
  }
  .logo-agora {
    margin-top: 25px;
    margin-bottom: 24px;
  }

}

.app-menu {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  cursor: pointer;
  margin-left: 1px;
  margin-bottom: 0;
  padding-left: 6%;
  background-color: white;
  color: #6A707E;
  display: flex;
}

span {
  padding-left: 10px;
  text-decoration: none;
  align-self: center;
}

li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #6A707E;
}

ul:hover {
  border-left:  #A1006B solid;
  color: #A1006B;
  background:  #f6e6f0;
  padding-left: 5%;
}

li:hover {
  border-left:  #A1006B solid;
  color: #A1006B;
  background:  #f6e6f0;
}

.selected span {
  color: #A1006B;
}
.selected .ic-glossaire {
  background-image: url(/agora-admin/assets/img/GlossaireHover.svg);
}

.selected .ic-relation {
  background-image: url(/agora-admin/assets/img/RelationHover.svg);
}


.selected .ic-obj-list {
  background-image: url(/agora-admin/assets/img/ListeHover.svg);
}


.selected {
  border-left:  #A1006B solid;
  color: #A1006B;
  background:  #f6e6f0;
  padding-left: 5%;
}

.ic-select {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 15%;
  transform: rotate(
    180deg
  );
  width: 15px;
  height: 6px;
  background-size: 10px;
}

.rotation {
  transform: rotate(360deg);
}

ul:hover span {
  color: #A1006B;
}

li:hover span {
  color: #A1006B;
}

ul:hover .ic-glossaire {
  background-image: url(/agora-admin/assets/img/GlossaireHover.svg);
}
ul:hover .ic-select {
  background-image: url(/agora-admin/assets/img/select.png);
}

i {
  background-size: 17px;
  width: 25px;
  align-self: center;
  background-repeat: no-repeat;
}

.ic-glossaire {
  height: 23px;
  background-image: url(/agora-admin/assets/img/Glossaire.svg);

}

.ic-obj-metier {
  height: 22px;
  background-image: url(/agora-admin/assets/img/ObjetMetier.svg);
}

ul:hover .ic-obj-metier {
  background-image: url(/agora-admin/assets/img/ObjetMetierHover.svg);
}

.ic-obj-list {
  height: 21px;
  background-image: url(/agora-admin/assets/img/Liste.svg);
}

ul:hover .ic-obj-list{
  background-image: url(/agora-admin/assets/img/ListeHover.svg);
}

.ic-relation {
  height: 19px;
  background-image: url(/agora-admin/assets/img/Relation.svg);
}

ul:hover .ic-relation{
  background-image: url(/agora-admin/assets/img/RelationHover.svg);
}

.li-list {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  padding: 0 0 0 59px !important;
}

.ic-filiere {
  height: 24px;
  background-image: url(/agora-admin/assets/img/Filiere.svg);

}
ul:hover .ic-filiere {
  background-image: url(/agora-admin/assets/img/FiliereHover.svg);
}

.dropdown-toggle::after {
  display: none;
}
.selected .ic-filiere {
  background-image: url(/agora-admin/assets/img/FiliereHover.svg);
}
.ic-acteur {
  height: 24px;
  background-image: url(/agora-admin/assets/img/Acteur.svg);

}
ul:hover .ic-acteur {
  background-image: url(/agora-admin/assets/img/ActeurHover.svg);
}

.selected .ic-acteur {
  background-image: url(/agora-admin/assets/img/ActeurHover.svg);
}

.ic-qualite {
  height: 23px;
  background-image: url(/agora-admin/assets/img/Qualite.svg);
}
ul:hover .ic-qualite {
  background-image: url(/agora-admin/assets/img/QualiteHover.svg);
}

.selected  .ic-qualite {
  background-image: url(/agora-admin/assets/img/QualiteHover.svg);
}

.ic-param {
  height: 23px;
  background-image: url(/agora-admin/assets/img/Parametre.svg);

}
ul:hover .ic-param {
  background-image: url(/agora-admin/assets/img/ParametreHover.svg);
}
.selected .ic-param {
  background-image: url(/agora-admin/assets/img/ParametreHover.svg);
}

.ic-gisement {
  height: 23px;
  background-image: url(/agora-admin/assets/img/Gisement.svg);
}
ul:hover .ic-gisement {
  background-image: url(/agora-admin/assets/img/GisementHover.svg);
}

.selected .ic-gisement {
  background-image: url(/agora-admin/assets/img/GisementHover.svg);
}

.dropdown-menu {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu.show {
  display: contents;
}
.logo-agora {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 24px;
}
.logo-sncf {
  width: 12vh;
  max-width: 90px;
  margin-bottom: 20px;
  margin-top: 20px;
}
