<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin" style="margin-right: 55px">&nbsp;Relation des objets métier </span>
    <span class="font-ctd">{{myTable.filteredValue? myTable.filteredValue.length: diagrammes.length}} résultat(s) trouvé(s)</span>
  </div>
  <p-table #myTable [value]="diagrammes" sortMode="multiple"  [scrollable]="true" [rows]="100" [scrollHeight]="'calc(100vh - 256px)'">
    <ng-template pTemplate="header">
      <tr class="row align-header-items">
        <th class="col-md-3 col">
          <i class="ic-search"></i>
          <input placeholder="Libellé"
                 (input)="myTable.filter($event.target.value, 'libelle', 'contains')"></th>
        <th class="col-md-4 col">
          <i class="ic-search"></i>
          <input  placeholder="Description"
                  (input)="myTable.filter($event.target.value, 'description', 'contains')"></th>
        <th class="col-md-3 col"> <p-multiSelect
          [options]="filieres" (onChange)="myTable.filter($event.value, 'filiere','in')"
          [defaultLabel]="'Filière'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'filiere'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-1 col p-0"><p-multiSelect
          [options]="statuts"  (onChange)="myTable.filter($event.value, 'statut.libelle','in')"
          [defaultLabel]="'Statut'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'statut'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-diagramme>
      <tr class="row align-body-items">
        <td class="col-md-3 col"><span class="font-bold overflow pointer"  matTooltip="{{diagramme.libelle}}"
                                       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="openDiagramToEdit(diagramme, 'consult')" >{{diagramme.libelle}}</span></td>
        <td class="col-md-4 col"><span class="font-light-gray overflow">{{diagramme.description}}</span></td>
        <td class="col-md-3 col"><span class="font-medium overflow">{{diagramme.filiere}}</span></td>
        <td class="col-md-1 col"><span class="font-light-gray overflow">{{diagramme.statut?.libelle  | titlecase}}</span></td>
        <td class="col-md-1 padding col">
          <i class="ic-consult"  matTooltip="Visualiser"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="openDiagramToEdit(diagramme, 'consult')">
          </i>
          <i class="ic-edit"  matTooltip="Editer" [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="openDiagramToEdit(diagramme, 'edit')">
          </i>
          <i class="ic-archive"  matTooltip="Archiver" (click)="openModal(diagramme, archiveDiag)"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" >
          </i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button class="btn-ajout" type="button" (click)="openModal(null, Diagramme)">
    <img class="ic-add" src="/agora-admin/assets/img/add.png" > Créer un diagramme
  </button>
</div>
<ng-template #Diagramme>
  <div class="row row-modal-item"><span class="font-bold">Créer un diagramme</span></div>
  <section>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Libellé <span style="color: red">*</span></span></div>
      <div class="col-md-8"><input class="input-field"  [ngClass]="{'input-field-error': isInvalid(diagramme.libelle)}"
                                   [(ngModel)]="diagramme.libelle">
      </div>
      <span class="font-circular-light-italic-error" *ngIf="isInvalid(diagramme.libelle)">Champ obligatoire</span>
    </div>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Description</span></div>
      <div class="col-md-8"><input class="input-field" [(ngModel)]="diagramme.description">
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Filière <span style="color: red">*</span></span></div>
      <div class="col-md-8">
        <ng-selectize name="filiere" [config]="filiereSelectConfig" [options]="filieres"
                      [ngClass]="{'error': isInvalid(diagramme.filiere)}"
                      [(ngModel)]="diagramme.filiere"></ng-selectize>
      </div>
      <span class="font-circular-light-italic-error" *ngIf="isInvalid(diagramme.filiere)">Champ obligatoire</span>

    </div>
  </section>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="saveDiagramme()"> Confirmer</button>
  </div>
</ng-template>
<ng-template #archiveDiag>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un diagramme ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez l’objet métier &nbsp;<span class="font-bold">{{diagramme.libelle}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiveDiagramme(diagramme)"> Confirmer</button>
  </div>
</ng-template>
