
:host>>> table {
  width: 100%!important;
  max-height: 80%;
  min-height: 80%;
}

tr input {
  font-family: Circular Std Light Italic, sans-serif;
  width: 100%;
  background: #4e5356;
  border: none;
  height: 30px;
  color: white;
  padding: 0 27px 0 10px;
}

.row-form .input-field {
  font-family: Circular Std Light, sans-serif;
  color:  #464A53;
  height: 30px;
  border: 1px solid #AAAAAA80;
  padding: 6px;
}
.row-modal-item {
  font-family: Circular Std Bold, sans-serif;
  font-size: 19px;
  justify-content: center;
  padding: 12px;
  color: #A1006B;
}



.row-modal-item .font-bold {
  font-size: 16px;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 21px;
  top: 8px;
}
:host>>> .ui-table-scrollable-body {
  overflow: auto;
}
.btn-ajout {
  position: fixed;
  right: 0;
  bottom: 10px;
  height: 40px;
  width: 200px;
  margin-right: 26px;
  margin-top: 10px;
}
.ic-add {
  background-image: url(/agora-admin/assets/img/add.png);
  background-repeat: round;
  transition: 300ms;
  transform: rotate(90deg);
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-right: 7px;
}

.btn-ajout:hover .ic-add {
  transition: 300ms;
  transform: rotate(-90deg);
  background-image: url(/agora-admin/assets/img/addHover.svg);
}

.form-row::ng-deep .ui-dropdown{
  border: 1px solid #AAAAAA80 !important;
  padding-left: 3px;
  color: #464A53;
  font-weight: normal !important;
  height: 30px;
  width: 100%;
}

.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-list{
  padding: 0 !important;
}

.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-item {
  color: #464A53;
  font-family: Circular Std Light, sans-serif;
  border-bottom: 1px solid #AAAAAA80;
}
.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-item:hover{
  background: #A1006B;
  color: #FFFFFF;
}
.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-state-highlight{
  background: #A1006B;
  color: #FFFFFF;
}

.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-filter{
  height: 30px;
  font-size: 13px;
  color: #464A53;
  font-family: Circular Std Light, sans-serif;
  border: 1px solid #AAAAAA80;

}

.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon{
  color: #464A53;
  top: 1.1em !important;
}
.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-filter-container{
  border-bottom: 1px solid #AAAAAA80;
}
.form-row::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-empty-message{
  color: #464A53 !important;
  font-size: 17px !important;
}


