.modal-container {
  max-height: 250px;
  overflow: auto;
}

.row-item {
  height: 58px;
  background: #FFFFFF                                                             ;
  box-shadow: 0.47px 3px 10px #77777700;
  border-radius: 3px;
  display: flex;
  margin: 5px 0 5px 0;
}

.row-modal-item {
  justify-content: center;
  padding: 10px;
}

.row-modal-item .font-bold {
  color: #A1006B;
  font-size: 16px;
}

.body-container {
  max-height: 87%;
}

.filter-input {
  display: flex;
  height: 45px;
  border: 1px solid #cccccc;
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
  color: #909090;
  padding: 16px 13px 16px 13px;
}

.filter-check {
  cursor: pointer;
  height: 45px;
  width: 130px;
  border: 1px solid #cccccc;
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
  color: #909090;
  margin-right: 4px;
  margin-left: 4px;
  display: flex;
}

.content{
  padding: 10px;
  font-size: small;
  display: flex;
}

.custom-popover{
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  color: #909090;
  position: absolute !important;
  padding: 1rem !important;
  background-color: white !important;
  z-index: 2;
  max-width: 490px;
  margin-top: 50px;
  max-height: 220px;
  overflow: auto;
}

.label {
  font-size: 13px;
  align-self: center;
  margin: auto;
}

.ic-filter-select {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 25px;
  width: 16px;
  position: absolute;
  left: 52%;
  opacity: 0.6;
}

.form-row {
  padding: 8px 0 8px 5px;
  margin: 0;
}

.form-header {
  margin: 20px 0 10px 0;
}

p-multiSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  border: 1px solid #cccccc;
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
}

:host>>> .ui-multiselect .ui-multiselect-label {
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
  color: #bbbbbb;
}

:host>>> .ui-multiselect .ui-multiselect-label-container {
  padding: 0 22px 0 10px;
}

.footer {
  display: flex;
  position: fixed;
  right: 27px;
  bottom: 10px;
}

.btn-ajout {
  font-family: Circular Std Light, sans-serif;
  width: 100%;
  height: 45px;
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #A1006B ;
  color: #ffffff;
}

.btn-ajout:hover {
  background: #ffffff;
  border-bottom:  #A1006B solid;
  color: #A1006B;
}
.nav-item {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  height: 45px;
  color: #707070;
}

.nav-item:hover {
  text-decoration: none!important;
  width: 100%;
  color: white!important;
  background:  #A1006B!important;
}
.dropdown {
  align-self: center;
  width: 122px;
  height: 45px;
}
.dropup {
  align-self: center;
  width: 122px;
}
.dropdown-divider {
  margin: 0;
  border-top: 2px solid #AAAAAA;
  opacity: 0.2;
}

.dropdown-menu {
  border: none;
  box-shadow: 0px 0px 5px #7777774D;
  border-radius: 3px;
}

.dropdown-item:active {
  color: #A1006B;
  text-decoration: underline;
}

.dropdown-item:hover {
  color: #A1006B;
  text-decoration: underline;
  background-color: #FFFFFF;
}

.dropdown-toggle::after {
  display: none!important;
}

.footer .btn-confirm {
  background: #6E1E78;
  border: 1px solid #6E1E78;
}

.footer .btn-confirm:hover {
  background: #ffffff;
  border-bottom: #6E1E78 solid;
  color: #6E1E78;
}

section {
  margin-top: 20px;
}

.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
}
.background {
  background: #EFE0EE;
}
:host>>>  .selectize-input {
  font-family: Circular Std Light, sans-serif;
  color: #ffffff;
  border: none;
  background: none;
  box-shadow: none;
  font-size: 17px;
}

:host>>> .selectize-control .selectize-input.disabled {
  background: #F2F2F2;
  border: none;
  opacity: 1;
}

:host>>>   .selectize-control.single .selectize-input:after {
  border-color: #FFFFFF transparent transparent transparent;
}

:host>>> .selectize-control.single .selectize-input.disabled:after {
  display: none;
}

:host>>>  .selectize-dropdown-content {
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  color: #707070;
}

:host>>> .selectize-dropdown .active{
  background: #A1006B;
  color: #FFFFFF;
}

.selectize {
  width: auto;
  margin-left: 11px;
  align-self: center;
}


:host>>> .selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
  border: none;
  background: none;
}

:host>>> .selectize-input > * {
padding-right: 25px;

}
