<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white">Définition des acteurs sur la filière -</span>
    <ng-selectize [options]="filiereAssoc" [config]="selectConfigFiliere" class="selectize h-font-size"
          [(ngModel)]="filiere.idFiliere" (ngModelChange)="changeFiliere()"></ng-selectize>
  </div>

  <div class="body-container">
    <div class="form-header">
      <span class="font-bold-white h-font-size">Définition des rédacteurs</span>
    </div>
    <div *ngIf="!filiere.redacteurs || filiere.redacteurs?.length == 0" class="form-row justify-content-center">
      <span class="font-light-gray">Aucun rédacteur associé</span>
    </div>
    <div class="row row-item" *ngFor="let redacteur of filiere.redacteurs; let i=index;">
      <div class="col-md-3 col">
        <span class="font-bold overflow">{{redacteur.ressource.nomComplet? redacteur.ressource.nomComplet: 'Non renseigné'}}</span></div>
      <div class="col-md-4 col"><span class="font-book">Rôle fonctionnel :  &nbsp;</span>
        <span class="font-light-gray overflow">{{redacteur.ressource.roles[0]? redacteur.ressource.roles[0].nom  : '—' }}</span>
      </div>
      <div class="col-md-4 col"><span class="font-book">Poste :  &nbsp;</span>
        <span class="font-light-gray overflow">{{redacteur.ressource?.poste }}</span>
      </div>
      <div class="col-md-1 col justify-content-around">
        <i class="ic-consult" matTooltip="Visualiser"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
           (click)="showActeur(redacteur.ressource, Acteur)">
        </i>
        <i matTooltip="Archiver"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" class="ic-archive"
           (click)="openModal(archiverRedacteur, redacteur, 'modal-dialog-centred', i)">
        </i>
      </div>
    </div>
    <div class="form-header">
      <span class="font-bold-white h-font-size">Définition des valideurs</span>
    </div>
    <div *ngIf="!filiere.valideurs || filiere.valideurs?.length == 0" class="form-row justify-content-center">
      <span class="font-light-gray">Aucun valideur associé</span>
    </div>
    <div class="row row-item" *ngFor="let valideur of filiere.valideurs; let i=index;">
      <div class="col-md-3 col">
        <span class="font-bold overflow">{{valideur.ressource.nomComplet? valideur.ressource.nomComplet: 'Non renseigné'}}</span></div>
      <div class="col-md-4 col"><span class="font-book">Rôle workflow : &nbsp; </span>
        <span class="font-light-gray overflow">{{valideur.profilAutorisations[0].libelle}}</span>
      </div>
      <div class="col-md-4 col"><span class="font-book">Suppléant : &nbsp; </span>
        <span class="font-light-gray overflow">{{valideur.suppleant? valideur.suppleant.ressource.nomComplet: 'Aucun'}}</span>
      </div>
      <div class="col-md-1 col justify-content-around p-0">
        <i class="ic-consult" matTooltip="Visualiser" (click)="showActeur(valideur.ressource, Acteur)"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
        </i>
        <i class="ic-edit" matTooltip="Editer" (click)="openModal(Valideur, valideur, 'modal-lg', i)"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
        </i>
        <i matTooltip="Archiver"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" class="ic-archive"
           (click)="openModal(archiverValideur, valideur, 'modal-dialog-centred', i)">
        </i>
      </div>
    </div>
  </div>
  <div class="footer">
    <div ngbDropdown>
      <button class="btn-ajout" type="button" ngbDropdownToggle>
        <img class="ic-add" src="/agora-admin/assets/img/add.png"> Définir
      </button>
      <div ngbDropdownMenu class="p-0">
        <button class="nav-item hover" (click)="openModal(Affectation, null, 'modal-lg', -1)" ngbDropdownItem>Définir un rédacteur</button>
        <div class="dropdown-divider"></div>
        <button class="nav-item hover" (click)="openModal(Valideur, null, 'modal-lg', -1)" ngbDropdownItem>Définir un valideur</button>
      </div>
    </div>
    <button class="btn-confirm" type="button" [hidden]="!isModified"  (click)="save()">Enregistrer</button>
    <button class="btn-cancel" type="button" [hidden]="!isModified" (click)="openModal(Annuler, null, 'modal-dialog-centred', -1)">Annuler</button>
  </div>
</div>

<ng-template #Affectation>
  <div class="row row-modal-item"><span class="font-bold">Définir un/des rédacteur(s) sur ma filière</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">Vous pouvez définir un/des rédacteur(s) sur votre filière en les sélectionnant ci-dessous.</span>
  </div>
  <div class="flex row-filter">
    <app-filter class="w-100"  [component]="'affectation'"></app-filter>
  </div>
  <div class="modal-container">
    <div *ngFor="let acteur of filtredActeurs; let i = index" class="row row-item background">
      <div class="col-md-3 col">
        <label class="container">
          <input type="checkbox" [checked]="acteur.associated" (change)="acteur.associated = !acteur.associated">
          <span class="checkmark"></span>
        </label>
         <span class="font-bold overflow" matTooltip="{{acteur.nomComplet}}"
               [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">{{acteur.nomComplet}}</span>
         </div>
      <div class="col-md-5 col"><span class="font-book">Rôle fonctionnel: &nbsp;</span><span
        class="font-light-gray overflow">{{acteur.roles[0] ? acteur.roles[0].nom : '—' }}</span>
      </div>
      <div class="col-md-4 col"><span class="font-book">Poste: &nbsp;</span><span
        class="font-light-gray overflow">{{acteur.poste ? acteur.poste : '—'}}</span>
      </div>
    </div>
  </div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="affecterActeur()"> Confirmer</button>
  </div>
</ng-template>

<ng-template #Acteur>
  <header>
    <div class="row row-modal-item"><span class="font-bold">Informations générales de {{acteur.nomComplet}}</span></div>
  </header>
  <section class="flex">
    <div class="col-md-6">
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Nom*</span></div>
        <div class="col-md-8"><input class="input-field" [value]="acteur.nom" disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Prenom*</span></div>
        <div class="col-md-8"><input class="input-field" [value]="acteur.prenom"
                                     disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Email</span></div>
        <div class="col-md-8"><input class="input-field" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                     type="email" [value]="acteur.adresseMail" disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Organisation</span></div>
        <div class="col-md-8"><input class="input-field" [value]="acteur.organisation" disabled>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Poste</span></div>
        <div class="col-md-8"><input class="input-field" [value]="acteur.poste" disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Famille de rôle</span></div>
        <div class="col-md-8"><input class="input-field" [value]="acteur.familleRoles[0]?.nom" disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Rôle fonctionnel</span></div>
        <div class="col-md-8"><input class="input-field" [value]="acteur.roles[0]?.nom" disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 col"><span class="font-light-gray">Code CP*</span></div>
        <div class="col-md-8"><input class="input-field" [value]="acteur.cp" disabled>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #Valideur>
  <header>
    <div class="row row-modal-item"><span class="font-bold">Définir un valideur sur ma filière</span></div>
    <div class="row row-modal-item"><span class="font-light-gray">Vous pouvez définir un valideur sur votre filière en les sélectionnant ci-dessous.</span>
    </div>
  </header>
  <section class="flex">
    <div class="col-md-6 p-0">
      <div class="form-row">
        <div class="col-md-4"><span class="font-light-gray">Nom de l’acteur*</span></div>
        <div class="col-md-8" [ngClass]="{'error': isInvalid(intervenant.ressource)}">
          <ng-autocomplete name="responsable" [data]="acteurs" [searchKeyword]="'nomComplet'"
                           [itemTemplate]="itemTemplate" [(ngModel)]="intervenant.ressource">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nomComplet"></a>
          </ng-template>
        </div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(intervenant.ressource)">Champ obligatoire</span>
      </div>
      <div class="form-row">
          <div class="col-md-4"><span class="font-light-gray">Niveau de validation*</span></div>
          <div class="col-md-8" [ngClass]="{'error': isInvalid(intervenant.profilAutorisations[0].libelle)}">
            <ng-selectize [config]="selectConfig" [options]="valideurs"
           [(ngModel)]="intervenant.profilAutorisations[0].libelle"></ng-selectize></div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(intervenant.profilAutorisations[0].libelle)">Champ obligatoire</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-row">
        <div class="col-md-4"><span class="font-light-gray">Nom du suppléant*</span></div>
      <div class="col-md-8" [ngClass]="{'error': isInvalid(intervenant.suppleant.ressource)}">
        <ng-autocomplete name="responsable" [data]="acteurs" [searchKeyword]="'nomComplet'"
                        [(ngModel)]="intervenant.suppleant.ressource" [itemTemplate]="itemTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.nomComplet"></a>
        </ng-template>
      </div>
        <span class="font-circular-light-italic-error" *ngIf="isInvalid(intervenant.suppleant.ressource)">Champ obligatoire</span>

      </div>
    </div>
  </section>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="affecterValideur()"> Confirmer</button>
  </div>
</ng-template>
<ng-template #archiverRedacteur>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un rédacteur ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez le rédacteur &nbsp;<span class="font-bold">{{intervenant.ressource.nomComplet}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="removeIntervenant(intervenant, filiere.redacteurs)"> Confirmer</button>
  </div>
</ng-template>
<ng-template #archiverValideur>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un valideur ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez le valideur &nbsp;<span class="font-bold">{{intervenant.ressource.nomComplet}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="removeIntervenant(intervenant, filiere.valideurs)"> Confirmer</button>
  </div>
</ng-template>
<ng-template #Annuler>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) d'annuler les modifications ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton «Confirmer», vous perdrez <br>
      toutes les informations apportées à cette fiche.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="annuler()"> Confirmer</button>
  </div>
</ng-template>
