
.modelization-container .header-container .btn-header{
  position: relative;
  width: fit-content;
  height: 30px;
  background: transparent;
  color: #FFFFFF;
  border: none;
}

.modelization-container .header-container .btn-header:hover{
  background: #EFE0EE;
  color: #A1006B;
}
.modelization-container .header-container .dropdown-toggle::after{
  display: none;
}


.modelization-container .header-container .nav-item {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  color: #464A53;
  height: 40px;
}

.modelization-container .header-container .font-ctd{
  font-family: Circular Std, sans-serif;
  align-self: center;
}

.modelization-container .header-container .nav-item:hover {
  text-decoration: none!important;
  width: 100%;
  color: white!important;
  background:  #A1006B!important;
}
.modelization-container .header-container .dropdown-divider {
  margin: 0;
  border-top: 2px solid #AAAAAA;
  opacity: 0.2;
}
#mainPaper {
  background: #F8F9FE ;
  cursor: grab;
}
#mainPaper:active {
  cursor: grabbing;
}

.modelization-container .card-container {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: block;
  height: 628px;
}
.modelization-container .card-container::ng-deep .ui-card-body{
  height: 600px;
}

.modelization-container .card-container::ng-deep .ui-widget-content{
  border: none !important;
  box-shadow: 0.47px 3px 10px #7777771A;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.modelization-container .card-container .families-container{
  position: relative;
  width: 100%;
  height: 100%;

}

.modelization-container .card-container .families-container::ng-deep .btn-ajout {
  font-size: 15px;
  height: 40px;
  width: fit-content;
  bottom: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}

.modelization-container .card-container .objects-palette{
  padding-left: 0 !important;
  position: relative;
  display: block !important;
  height: 600px !important;
}
.modelization-container .card-container .objects-palette .tab-menu{
  position: relative;
  display: block !important;
  height: 90% !important;
}
.modelization-container .card-container .objects-palette .footer{
  position: relative;
  display: block;
  height: 10%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}


.modelization-container .card-container .objects-palette .footer .footer-btn{
  font-size: 15px;
  height: 40px;
  width: 120px;
  /*
  margin-left: 3px;
  */
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #A1006B;
  color: white;

}

#menuItems::ng-deep .ui-widget-content{
  box-shadow: none;
  position: relative;
  display: block;
  height: 2%;
}

#tabsContent{
  position: relative;
  display: block;

  height: 91.5%;
}
#objectListPaperTab {
  position: relative;
  display: block;
  height: 100%;
  overflow-y: auto !important;

}

#objectsListPaper{
  position: relative; display: block; height: fit-content;
}

:host>>> .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
  cursor: pointer;
  height: 33px !important;
  min-height: 33px !important;
}



.modelization-container .card-container::ng-deep .ui-tabmenu .ui-tabmenu-nav {
  padding: 0;
  position: relative;
  display: block;
  height: 33px;
}
.modelization-container .card-container::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{
  position: relative;
  display: block;
  width: 49%;
  height: 100%;
}

@media (max-width: 1400px) {
  .modelization-container .card-container .objects-palette .footer .footer-btn{
    width: 105px;
  }
}

@media (max-width: 1450px) {
  .modelization-container .card-container::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{
    position: relative;
    display: block;
    width: 48%;
    height: 100%;
  }
}
@media (max-width: 1020px) {
  .modelization-container .card-container::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{
    position: relative;
    display: block;
    width: 45%;
    height: 100%;
  }
}

.modelization-container .card-container::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a{
  position: relative;
  display: block;
  float: none;
  background: #EFE0EE;
  color: #A1006B;
  width: 100% !important;
  height: 100%;
  padding: 3px;
  justify-items: center !important;
  align-items: center !important;
}
.modelization-container .card-container::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a:hover:not(.ui-tabmenuitem.ui-state-active a){

  filter: brightness(96%);
}

.modelization-container .card-container::ng-deep .ui-tabmenu .ui-tabmenu-nav a{
  padding: 3px
}

.modelization-container .card-container::ng-deep  .ui-tabmenuitem.ui-state-active a{
  background: #A1006B !important;
  color: #FFFFFF !important;
}

.modelization-container .card-container::ng-deep .ui-tabmenu .ui-menuitem-text{
  position: relative;
  display: block;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center !important;
}


.row-modal-item {
  font-family: Circular Std Bold, sans-serif;
  font-size: 19px;
  justify-content: center;
  padding: 12px;
  color: #A1006B;
}
.form-row{
  justify-content: center;
  padding: 12px;
}

.row-modal-item .font-bold {
  font-size: 16px;
}

.row-modal-item::ng-deep .ui-dropdown{
  border: 1px solid #AAAAAA80 !important;
  padding-left: 3px;
  color: #464A53;
  font-weight: normal !important;
}

.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-list{
  padding: 0 !important;
}

.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-item {
  color: #464A53;
  font-family: Circular Std Light, sans-serif;
  border-bottom: 1px solid #AAAAAA80;
}
.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-item:hover{
  background: #A1006B;
  color: #FFFFFF;
}
.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-state-highlight{
  background: #A1006B;
  color: #FFFFFF;
}

.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-filter{
  height: 30px;
  font-size: 13px;
  color: #464A53;
  font-family: Circular Std Light, sans-serif;
  border: 1px solid #AAAAAA80;

}

.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon{
  color: #464A53;
  top: 1.1em !important;
}
.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-filter-container{
  border-bottom: 1px solid #AAAAAA80;
}
.row-modal-item::ng-deep .ui-dropdown .ui-dropdown-panel .ui-dropdown-empty-message{
  color: #464A53 !important;
  font-size: 17px !important;
}


.modelization-container .card-container .toolbar {
  position: absolute;
  /*width: 300px;
  left: calc(50% - 150px);
  top: 18px;
 */ text-align: center;
}
.modelization-container .card-container::ng-deep .toolbar-button {
  outline: none;
  background: #FFFFFF;
  box-shadow: 0.17px 1px 3px #222222;
  border-radius: 4px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  padding: 0px 5px;
  letter-spacing: 0.25px;
  color: #696969;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.modelization-container .card-container::ng-deep .toolbar-button:hover {
  background: #F7F8F9;
}
button[disabled]{
  opacity: 0.65;
  cursor: not-allowed;
  pointer-events: auto;
}

.btn-delete {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  width: 122px;
  height: 45px;
  background: #bf0505;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #bf0505;
  color: #ffffff;
  align-self: center;
  margin: 10px;
}

.btn-delete:hover {
  background: #ffffff;
  border-bottom: #bf0505 solid;
  color: #bf0505;
  text-decoration: none!important;
}

.row-modal-item::ng-deep .ui-autocomplete .ui-autocomplete-input{
  font-family: Circular Std , sans-serif;
  color: #464A53 !important;
  height: 30px;
  border: 1px solid #AAAAAA !important;
  padding: 6px;
  width: 100%;

}

.row-modal-item::ng-deep .ui-autocomplete-panel .ui-autocomplete-list{
  padding: 0;
}
.row-modal-item::ng-deep .ui-autocomplete-panel .ui-autocomplete-list-item {
  color: #464A53;
  font-family: Circular Std Light, sans-serif;
  border-bottom: 1px solid #AAAAAA80;
  height: 30px;
  padding: .525em .25em;
}

.row-modal-item::ng-deep .ui-autocomplete-panel .ui-autocomplete-list-item:hover{
  background: #A1006B;
  color: #FFFFFF;
}

:host>>> .selectize-error .selectize-control.single .selectize-input {
  border: 1px solid red!important;
}

p-multiSelect {
  background: white;
  border: none;
  width: auto;
  align-self: center;
  border: 1px solid #AAAAAA80;
  width: 225px;
  margin-top: 5px;
  margin-bottom: 5px;
}

:host>>> .ui-multiselect .ui-multiselect-label {
  text-align: left;
  font-family: "Circular Std light italic";
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.6;
}

.tab-header {
  margin: 5px;
}

.app-container {
  height: auto;
}
