<div class="app-container modelization-container">
  <div class="header-container">
    <span class="font-bold-white margin">Relation des objets métier</span>
    <span class="font-ctd" [ngStyle]="{cursor: 'pointer'}"
          *ngIf="currentDiagram" (click)="genericOpenModal(editDiagramme, null, null, currentDiagram)">{{currentDiagram.libelle}} </span>
  </div>
  <div class="card-container">
    <p-card>
      <div class="row">
        <div class="col-sm-8 col-md-9" style="height: 600px">

          <div id="mainPaper">
          </div>
          <div class="toolbar">
            <span id="center-diagram" class="toolbar-button" style="position: absolute ; bottom: 79px; left: 10px" (click)="centerDiagram()"><i class="fas fa-crosshairs" style="width: 11px"></i></span>
            <span id="zoom-in" class="toolbar-button" style="position: absolute ; bottom: 56px; left: 10px" (click)="zoomIn(null)"><i class="fas fa-plus" style="width: 11px"></i></span>
            <span id="zoom-reset" class="toolbar-button" style="position: absolute ; bottom: 33px; left: 10px" (click)="zoomReset()"><i class="fas fa-undo" style="width: 11px"></i></span>
            <span id="zoom-out" class="toolbar-button" style="position: absolute ; bottom: 10px; left: 10px" (click)="zoomOut(null)"><i class="fas fa-minus" style="width: 11px"></i></span>
          </div>
        </div>

        <div class="col-sm-4 col-md-3 objects-palette">
          <div class="tab-menu">
            <p-tabMenu id="menuItems"  ></p-tabMenu>
            <div id="tabsContent">
              <div id="objectListPaperTab">
                <div class="tab-header">
                  <span for="filiere" class="font-light-gray">Filière</span>

                  <ng-selectize id="filiere" [config]="selectConfig" [options]="filieres" [(ngModel)]="selectedFiliere"

                                (ngModelChange)="changeFiliere()"></ng-selectize>

                  <span class="font-light-gray">Famille d'objet métier</span>

                  <ng-selectize  [config]="selectConfig" [options]="familles"  [(ngModel)]="selectedFamille"

                                 (ngModelChange)="changeFiliere()"></ng-selectize>

                  <span class="font-light-gray">Sous-famille d'objet métier</span>

                  <ng-selectize [config]="selectConfig" [options]="sousFamilles" [(ngModel)]="selectedSFamille"

                                (ngModelChange)="changeFiliere()"></ng-selectize>
                </div>
                <div id="objectsListPaper"></div>
              </div>
            </div>
          </div>
          <div *ngIf="!isDisabled" class="footer d-flex justify-content-between" >
            <button class="footer-btn" type="button" (click)="updateDiagram()">
              <i class="fas fa-save" style="font-size: 12px; margin-right: 2px"></i> Enregistrer
            </button>
            <button class="footer-btn" style="right: 0" type="button" (click)="genericOpenModal(SaveDiagramBeforeExit)">
              <i class="fas fa-clone" style="font-size: 12px; margin-right: 2px"></i> Dupliquer
            </button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>


<ng-template #SaveDiagramBeforeExit>
  <header>
    <div class="row row-modal-item"><span class="font-bold"> Voulez-vous sauvegarder le diagramme actuel avant de quitter la page ?</span></div>
  </header>
  <section >
    <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Sauvegarder »,
      vous sauvegarderez le diagramme <br> <span class="font-bold" *ngIf="currentDiagram">{{currentDiagram.libelle}}</span> avant de le dupliquer</span></div>

  </section>
  <footer>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="genericHideModal()"> Annuler</button>
      <button  class="btn-confirm" type="button" (click)="saveDiagramBeforeDuplication()"> Sauvegarder</button>
    </div>
  </footer>
</ng-template>

<ng-template #DuplicateDiagramme>
  <div class="row row-modal-item"><span class="font-bold">Dupliquer le diagramme {{currentDiagram.libelle}}</span></div>
  <section>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Libellé <span style="color: red">*</span></span></div>
      <div class="col-md-8"><input class="input-field" [ngClass]="{'input-field-error': isInvalid(duplicatedDiagram.libelle)}"
                                   [(ngModel)]="duplicatedDiagram.libelle">
      </div>
      <span class="font-circular-light-italic-error p-0" *ngIf="isInvalid(duplicatedDiagram.libelle)">Champ obligatoire</span>
    </div>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Description</span></div>
      <div class="col-md-8"><input class="input-field" [(ngModel)]="duplicatedDiagram.description">
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Filière <span style="color: red">*</span></span></div>
      <div class="col-md-8"><input class="input-field" [(ngModel)]="currentDiagram.filiere" disabled>
      </div>
    </div>
  </section>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="duplicateDiagram()"> Confirmer</button>
  </div>
</ng-template>

<ng-template #CreateFamilyContainer>
  <header>
    <div class="row row-modal-item"><span class="font-bold">Créer un conteneur de famille</span></div>
  </header>
  <section >
    <div class="row row-modal-item"><span class="font-light-gray">Veuillez sélectionner une famille d'objets pour créer un conteneur:</span></div>

    <div class="row row-modal-item">
      <!--<div class="col-md-4 col"><span class="font-light-gray">Famille</span></div>
      <div class="col-md-8"><ng-selectize [options]="families"></ng-selectize>
      </div>-->
      <span class="font-light-gray" style="margin-right: 30px">Famille <span style="color: red">*</span></span>
      <!--<ng-selectize name="family" [enabled]="true" [config]="familleSelectConfig" [options]="families" ></ng-selectize>-->
      <p-dropdown [options]="families" [(ngModel)]="selectedFamily" placeholder="Sélectionnez une famille.." optionLabel="name" required filter="true" emptyFilterMessage="Aucune famille trouvée.."></p-dropdown>

      <!-- [disabled]="disabled">
     </div>
     <span class="font-circular-light-italic-error" *ngIf="isInvalid(acteur.nom)">Champ obligatoire</span>-->
    </div>


  </section>
  <footer>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="genericHideModal()"> Annuler</button>
      <button  class="btn-confirm" type="button" (click)="createFamilyContainer()" [disabled]="!selectedFamily"> Confirmer</button>
    </div>
  </footer>
</ng-template>



<ng-template #ConfirmDeletingFamilyContainer>
  <header>
    <div class="row row-modal-item"><span class="font-bold"> Êtes-vous sûr(e) de vouloir supprimer un conteneur de famille ?</span></div>
  </header>
  <section >
    <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer »,
      vous supprimerez <br> <span class="font-bold" *ngIf="familyContainerToDelete">{{familyContainerToDelete.model.attributes.data.name}}</span></span></div>

  </section>
  <footer>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="genericHideModal()"> Annuler</button>
      <button  class="btn-confirm" type="button" (click)="deleteFamilyContainer()"> Confirmer</button>
    </div>
  </footer>
</ng-template>


<ng-template #AssociationRole>
  <header>
    <div class="row row-modal-item"><span class="font-bold"> Rôle de l'association</span></div>
  </header>
  <section >
    <div class="row row-modal-item" ><span *ngIf="this.associationToAddARole" class="font-light-gray" ><span *ngIf="modifyAssociationRoleModal" class="font-light-gray" >Modifiez</span><span *ngIf="modifyAssociationRoleModal===false" class="font-light-gray" >Saisissez</span> le rôle de l'association <br>
     <span class="font-bold"> {{this.associationToAddARole.sourceView.model.attributes.data.libelle}}</span> <i class="fas fa-arrow-right" style="margin-right: 7px; margin-left: 7px; "></i> <span class="font-bold">{{this.associationToAddARole.targetView.model.attributes.data.libelle}}</span></span></div>
    <div class="row row-modal-item">
      <p-autoComplete [(ngModel)]="typedRole" [suggestions]="rolesTypedBeforeFiltred" (completeMethod)="searchInRolesTypedBefore($event)"></p-autoComplete>
    </div>
  </section>
  <footer>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="genericHideModal()"> Annuler</button>
      <button *ngIf="modifyAssociationRoleModal" class="btn-delete" type="button" (click)="deleteAssociationRole()"> Supprimer</button>
      <button  class="btn-confirm" type="button" (click)="confirmAssociationRole()"> Confirmer</button>
    </div>
  </footer>
</ng-template>
<ng-template #editDiagramme>
  <div class="row row-modal-item"><span class="font-bold">Gérer le diagramme {{currentDiagram.libelle}}</span></div>
  <section>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Libellé <span style="color: red">*</span></span></div>
      <div class="col-md-8"><input class="input-field"  [ngClass]="{'input-field-error': isInvalid(diagrammeToEdit.libelle)}"
                                   [(ngModel)]="diagrammeToEdit.libelle" [disabled]="isDisabled">
      </div>
      <span class="font-circular-light-italic-error p-0" *ngIf="isInvalid(diagrammeToEdit.libelle)">Champ obligatoire</span>
    </div>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Description</span></div>
      <div class="col-md-8"><input class="input-field" [(ngModel)]="diagrammeToEdit.description" [disabled]="isDisabled">
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-md-4 col"><span class="font-light-gray">Filière <span style="color: red">*</span></span></div>
      <div class="col-md-8">
        <ng-selectize name="filiere" [config]="selectConfig" [options]="filieres"
                      [ngClass]="{'error': isInvalid(diagrammeToEdit.filiere)}"
                      [(ngModel)]="diagrammeToEdit.filiere" [enabled]="!isDisabled"></ng-selectize>
      </div>
      <span class="font-circular-light-italic-error p-0" *ngIf="isInvalid(diagrammeToEdit.filiere)">Champ obligatoire</span>

    </div>
  </section>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" [hidden]="isDisabled" (click)="updateDiagramMetaData()"> Confirmer</button>
  </div>
</ng-template>
