<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white margin">Mes brouillons</span>
    <span class="font-ctd">{{brouillons.length}} résultat(s) trouvé(s)</span>
  </div>
  <p-table #myTable [value]="brouillons" sortMode="multiple"  [scrollable]="true" [rows]="100" [scrollHeight]="'calc(100vh - 220px)'">
    <ng-template pTemplate="header">
      <tr class="row align-header-items">
        <th class="col-md-2 col">
          <i class="ic-search"></i>
          <input placeholder="Libellé"
                 (input)="myTable.filter($event.target.value, 'libelle', 'contains')">
        </th>
        <th class="col-md-2 col p-0"><p-multiSelect
          [options]="types"  (onChange)="myTable.filter($event.value, 'type','in')"
          [defaultLabel]="'Type'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'type'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-4 col">
          <i class="ic-search"></i>
          <input  placeholder="Description"
                  (input)="myTable.filter($event.target.value, 'definition', 'contains')">
        </th>
        <th class="col-md-3 col"> <p-multiSelect
          [options]="filieres" (onChange)="myTable.filter($event.value, 'filiere','in')"
          [defaultLabel]="'Filière'" appendTo="body"></p-multiSelect>
          <div [pSortableColumn]="'filiere'">
            <i class="ic-sort"></i>
          </div>
        </th>
        <th class="col-md-1 col"><span class="font-ctd overflow">Actions</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-brouillon>
      <tr class="row align-body-items">
        <td class="col-md-2 col"><span class="font-bold overflow pointer"  matTooltip="{{brouillon.libelle}}"
                                       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                       (click)="brouillon.type == 'Objet métier' ? editObjet(brouillon): editTerme(brouillon)" [routerLink]="brouillon.type == 'Objet métier' ? ['/main/objet']: ['/main/terme']"
                                       [queryParams]="{action:'consult'}">{{brouillon.libelle}}</span></td>
        <td class="col-md-2 col"><span class="font-light-gray overflow">{{brouillon.type}}</span></td>
        <td class="col-md-4 col"><span class="font-light-gray overflow">{{brouillon.definition}}</span></td>
        <td class="col-md-3 col"><span class="font-medium overflow">{{brouillon.filiere}}</span></td>
        <td class="col-md-1 padding col">
          <i class="ic-edit"  matTooltip="Editer"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" *ngIf="showButton(brouillon)"
             (click)="brouillon.type == 'Objet métier' ? editObjet(brouillon): editTerme(brouillon)" [routerLink]="brouillon.type == 'Objet métier' ? ['/main/objet']: ['/main/terme']"
             [queryParams]="{action:'edit'}">
          </i>
          <i class="ic-submit"  *ngIf="showButton(brouillon)" matTooltip="Soumettre" (click)="brouillon.type == 'Objet métier' ? submitObjet(brouillon): submitTerme(brouillon)"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
          </i>
          <i class="ic-archive" *ngIf="showButton(brouillon)"  matTooltip="Archiver"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="brouillon.type == 'Objet métier' ? openModal(brouillon, archiverObj): openModal(brouillon, archiverT)">
          </i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #archiverT>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un terme métier ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez le terme métier &nbsp;<span class="font-bold">{{terme.libelle}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiveTerme(terme)"> Confirmer</button>
  </div>
</ng-template>

<ng-template #archiverObj>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir archiver un objet métier ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton « Confirmer », <br>
     vous archiverez l’objet métier &nbsp;<span class="font-bold">{{objet.libelle}}</span>.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="archiveObjet(objet)"> Confirmer</button>
  </div>
</ng-template>
