<div class="app">
    <div class="menu-container">
      <app-menu></app-menu>
    </div>
    <div class="md-container">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>

