.app {
    min-width: 950px;
    max-width: 1920px;
    height: 100%;
    display: flex;
  overflow-y: scroll;
  scrollbar-color: #A1006B #fff;
  scrollbar-width: thin;
  }
  .md-container {
    background: #F8F9FE;
    width: 83%;
  }

  .menu-container {
    width: 17%;
  }
