<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white">{{titre}}</span>
    <span class="font-light h-font-size">{{titre2}}</span>
  </div>
  <div class="body-container flex">
    <div class="col-md-9 p-0">
      <div class="form-header"><span class="font-bold-white h-font-size">Informations générales</span></div>
      <form>
        <div class="form-body flex">
          <div class="col-md-6 p-right-0">
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Libellé de l’objet*</span></div>
              <div class="col-md-8"><input class="input-field"
                  [ngClass]="{'input-field-error': isInvalid(objet.libelle)}" name="nom" [(ngModel)]="objet.libelle"
                  (ngModelChange)="setIsModified(true)" [disabled]="isDisabled" required>
              </div>
              <span class="font-circular-light-italic-error" *ngIf="isInvalid(objet.libelle)">Champ obligatoire</span>
            </div>
            <div class="form-row">
              <div class="col-md-4"><span class="font-light-gray">Définition</span></div>
              <div class="col-md-8"><textarea name="description" [(ngModel)]="objet.definitions[0].definition"
                  [disabled]="isDisabled" (ngModelChange)="setIsModified(true)"></textarea></div>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Commentaire</span></div>
              <div class="col-md-8"><input class="input-field" name="commentaire" [(ngModel)]="objet.commentaire"
                  (ngModelChange)="setIsModified(true)" [disabled]="isDisabled"></div>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Abréviation</span></div>
              <div class="col-md-8"><input class="input-field" name="abrv" [(ngModel)]="objet.abreviation"
                  (ngModelChange)="setIsModified(true)" [disabled]="isDisabled"></div>
            </div>
          </div>
          <div class="col-md-6 p-right-0">
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Filière*</span></div>
              <div class="col-md-8" [ngClass]="{'selectize-error': isInvalid(objet.filieres[0]?.idFiliere)}">
                <ng-selectize name="filiere" [enabled]="!isDisabled" [config]="filiereSelectConfig" [options]="filieres"
                               [(ngModel)]="objet.filieres[0].idFiliere" (ngModelChange)="changeFiliere(true)"></ng-selectize>

              </div>
              <span class="font-circular-light-italic-error" *ngIf="isInvalid(objet.filieres[0].idFiliere)">Champ obligatoire</span>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Famille <br> d’objet métier</span></div>
              <div class="col-md-8">
                <ng-selectize name="famille" [enabled]="!isDisabled" [config]="familleSelectConfig" [options]="familles"
                  [(ngModel)]="objet.familles[0].idFamille" (ngModelChange)="changeFamille(true)">
                </ng-selectize>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray"> Sous-famille<br> d’objet métier</span></div>
              <div class="col-md-8">
                <ng-selectize name="sfamille" [enabled]="!isDisabled" [config]="familleSelectConfig" [options]="sFamilles"
                              [(ngModel)]="objet.sousFamilles[0].idFamille">
                </ng-selectize>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Responsable <br>de données</span></div>
              <div class="col-md-8">
                <ng-autocomplete name="responsable" [(ngModel)]="objet.responsables[0]" [data]="utilisateurs"
                  [searchKeyword]="keyword" (ngModelChange)="setIsModified(true)" [itemTemplate]="itemTemplate"
                  [disabled]="isDisabled">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.nomComplet"></a>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="form-header"><span class="font-bold-white h-font-size">Gestion des attributs</span></div>
      <div *ngIf="isDisabled && objet.attributs.length == 0" class="form-row justify-content-center">
        <span class="font-light-gray">Aucun attribut ajouté</span>
      </div>
      <div class="row row-attr" *ngFor="let attrb of objet.attributs ; let i = index">
        <div class="col-md-6 form-row p-right-0">
          <div class="col-md-4 col"><span lass="font-light-gray overflow">Nom de l’attribut {{i + 1}}*</span></div>
          <div class="col-md-8"><input class="input-field w-80 overflow"
              [ngClass]="{'input-field-error': isInvalid(attrb.libelle)}" [(ngModel)]="attrb.libelle"
              (change)="setIsModified(true)" [disabled]="isDisabled">
          </div>
          <span class="font-circular-light-italic-error" *ngIf="isInvalid(attrb.libelle)">Champ obligatoire</span>
        </div>
        <div class="col-md-6 form-row p-right-0">
          <div class="col-md-4 col"><span class="font-light-gray overflow">Description {{i + 1}}</span></div>
          <div class="col-md-8"><input class="input-field w-80 overflow" (change)="setIsModified(true)"
              [value]="attrb.valeur" [disabled]="isDisabled">
          </div>
        </div>
      </div>
      <div class=" row row-attr" *ngIf="!isDisabled">
        <div class="col-md-6 form-row p-right-0" [ngClass]="{'padding-top': libelleAttrError}">
          <div class="col-md-4 col"><span class="font-light-gray overflow">Nom de l’attribut {{objet.attributs.length +
              1}}*</span>
          </div>
          <div class="col-md-8"><input class="input-field padding-right w-80"
              [ngClass]="{'input-field-error': libelleAttrError}" name="nom" [(ngModel)]="attr.libelle"
              (ngModelChange)="setIsModified(true)">
            <i class="ic search" (click)="openModal(info)"></i>
          </div>
          <span class="font-circular-light-italic-error" *ngIf="libelleAttrError">Champ obligatoire</span>
        </div>
        <div class="col-md-6 form-row p-right-0">
          <div class="col-md-4 col"><span class="font-light-gray overflow">Description {{objet.attributs.length +
              1}}</span></div>
          <div class="col-md-8"><input class="input-field w-80" name="description" [(ngModel)]="attr.valeur"
              (ngModelChange)="setIsModified(true)">
            <button class="btn-ajout" type="button" matTooltip="Créer" [matTooltipPosition]="'above'"
              [matTooltipClass]="'tooltipText'" (click)="addAttribute()">
              <img class="ic-add" src="/agora-admin/assets/img/add.png">
            </button>
          </div>
        </div>
      </div>
      <div class="form-header"><span class="font-bold-white h-font-size">Termes métier associés</span>
        <i [hidden]="isDisabled" class="btn-associer" matTooltip="Relier" [matTooltipPosition]="'above'"
          [matTooltipClass]="'tooltipText'" (click)="openModalTerme(terme)"></i>
      </div>
      <div *ngIf="isDisabled && objet.termes.length == 0" class="form-row justify-content-center">
        <span class="font-light-gray">Aucun terme associé</span>
      </div>
      <div class="flex row-filter" [hidden]="objet.termes.length == 0">
        <app-filter class="w-100" [component]="'objet'"></app-filter>
      </div>
      <div *ngFor="let terme of filtredTermeAssoc; let i = index" class="row row-item">
        <div class="col-md-3 col">
          <span class="font-bold overflow" matTooltip="{{terme.libelle}}" [matTooltipPosition]="'above'"
            [matTooltipClass]="'tooltipText'">{{terme.libelle}}</span>
        </div>
        <div class="col-md-3 col"><span class="font-light-gray overflow">{{terme.definitions[0]?.definition}}</span>
        </div>
        <div class="col-md-3 col"><span class="font-medium overflow">{{terme.filieres[0]?.nom}}</span></div>
        <div class="col-md-2 col"><span class="font-light-gray overflow">{{terme.statut?.libelle}}</span></div>
        <div class="col-md-1 col p-0">
          <i [hidden]="isDisabled" matTooltip="Supprimer" [matTooltipPosition]="'above'"
            [matTooltipClass]="'tooltipText'" class="ic-archive" (click)="removeTerme(i)"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3 p-right-0">
      <app-workflow [status]="status" [status1]="status1"></app-workflow>
      <div class="margin-top" *ngIf="showButton('valider')">
        <span class="font-light-gray">Commentaire:</span>
        <textarea class="comment" [(ngModel)]="commentaire"></textarea>
      </div>
      <div class="btn">
        <button class="btn-confirm"  type="button" *ngIf="showButton('save')"
          (click)="save(statusAccessor.BROUILLON,'save')">Enregistrer
        </button>
        <button class="btn-submit" *ngIf="showButton('submit')"
                type="button" (click)="submit()">Soumettre
        </button>
        <button class="btn-cancel" *ngIf="showButton('save')"
                type="button" (click)="openModal(annuler)">Annuler
        </button>
        <button class="btn-cancel"  *ngIf="showButton('corriger')"
                (click)="refuser()">Annuler et corriger
        </button>
        <button class="btn-confirm" *ngIf="showButton('valider')"
                type="button" (click)="valider()">Valider
        </button>
        <button class="btn-refuser" type="button"  *ngIf="showButton('valider')"
                (click)="refuser()">Refuser
        </button>
      </div>
    </div>
  </div>

  <ng-template #annuler>
    <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir quitter la page ?</span></div>
    <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton «Confirmer», vous perdrez
        <br>
        toutes les informations apportées à cette fiche.</span></div>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
      <button class="btn-confirm" type="button" (click)="redirect()"> Confirmer</button>
    </div>
  </ng-template>

  <ng-template #info>
    <div class="row row-modal-item"><span class="font-bold">Création d’un nouvel attribut</span></div>
    <div class="row row-modal-item"> <span class="font-light-gray">Vous pouvez créer un nom d’attribut <br>en
        sélectionnant un terme métier.</span>
    </div>
    <div class="modal-container flex">
      <button class="btn-input" *ngFor="let terme of termes" (click)="selectedAttr = terme">{{terme.libelle}}</button>
    </div>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
      <button class="btn-confirm" type="button" (click)="createAttr()"> Confirmer</button>
    </div>
  </ng-template>

  <ng-template #terme>
    <div class="row row-modal-item"><span class="font-bold">Relier des termes métier</span></div>
    <div class="row row-modal-item"> <span class="font-light-gray">
        Vous pouvez relier des termes métier à l’objet {{objet.libelle}} en les sélectionnant ci-dessous.</span></div>
    <div class="flex">
      <app-filter class="w-100" [component]="''"></app-filter>
    </div>
    <div class="modal-container">
      <div *ngFor="let terme of filtredTermes; let i = index" class="row row-item">
        <div class="col-md-4 col">
          <label class="container">
            <input type="checkbox" [checked]="terme.associated" (change)="terme.associated = !terme.associated">
            <span class="checkmark"></span>
          </label>
          <span class="font-bold overflow" matTooltip="{{terme.libelle}}"
                [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">{{terme.libelle}}</span>

        </div>
        <div class="col-md-3 col"><span class="font-light-gray overflow">{{terme.definitions[0]?.definition}}</span>
        </div>
        <div class="col-md-3 col"><span class="font-medium overflow">{{terme.filieres[0]?.nom}}</span></div>
        <div class="col-md-2 col"><span class="font-light-gray overflow">{{terme.statut?.libelle}}</span></div>
      </div>
    </div>
    <div class="row-btn">
      <button class="btn-cancel btn-gray" type="button" (click)="modalRef.hide()"> Annuler</button>
      <button class="btn-confirm" type="button" (click)="associerTermes()"> Confirmer</button>
    </div>
  </ng-template>
