@media (min-width: 1601px) {
  :host>>>  .selectize-input {
    font-size: 15px;
  }
  textarea {
    font-size: 15px;
  }
}

@media (min-width: 1180px) and (max-width: 1600px){
  :host>>>  .selectize-input {
    font-size: 13px;
  }
  textarea {
    font-size: 13px;
  }
}

@media (max-width: 1179px) {
  :host>>>  .selectize-input {
    font-size: 11px;
  }
  textarea {
    font-size: 11px;
  }
}

.form-body {
  color: #464A53;
  background: #FFFFFF;
  margin: 10px 0 30px 0;
  padding: 20px 0 20px 0;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
}

.form-row {
  padding: 10px 0 10px 5px;
  margin: 0;
  align-self: center;
}

.row-modal-item {
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.row-modal-item .font-bold {
  color: #A1006B;
  font-size: 19px;
}
.row-modal-filter {
  background: #FFFFFF;
  margin: 20px 5px 20px 5px;
  justify-content: space-between;
}

.padding-right {
  padding-right: 27px;
}

textarea {
  font-family: Circular Std Light, sans-serif;
  color:  #707070;
  height: 150px;
  border: 1px solid #cccccc;
  padding-left: 6px;
  resize: none;
  width: 90%;
}

textarea:disabled {
  background: #F2F2F2;
  border: none;
}

.search {
  background-image: url(/agora-admin/assets/img/search.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 23%;
  width: 22px;
  height: 22px;
  bottom: 4px;
}

.search:hover {
  background-image: url(/agora-admin/assets/img/SearchHover.svg);
}

.submit {
  background-image: url(/agora-admin/assets/img/OK.svg);
}

.submit:hover {
  background-image: url(/agora-admin/assets/img/OKHover.svg);
}

*,*:focus,*:hover{
  outline:none;
}
:host>>>  .selectize-input {
  font-family: Circular Std Light, sans-serif;
  color: #707070;
  height: 30px;
  border: 1px solid #cccccc;
  padding-left: 6px;
  width: 90%;
}

:host>>> .selectize-control .selectize-input.disabled {
  background: #F2F2F2;
  border: none;
  opacity: 1;
}

:host>>> .selectize-error .selectize-control.single .selectize-input {
  border: 1px solid red!important;
}

:host>>>   .selectize-control.single .selectize-input:after {
  border-style: none;
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 33%;
  width: 8%;
  top: 42%;
  right: 10px;
  opacity: 0.6;
}

:host>>> .selectize-control.single .selectize-input.input-active.dropdown-active:after {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 33%;
  width: 8%;
}

:host>>> .selectize-control.single .selectize-input.disabled:after {
  display: none;
}

:host>>>  .selectize-dropdown-content {
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  color: #707070;
}

:host>>> .selectize-dropdown .active{
  background: #A1006B;
  color: #FFFFFF;
}

.ic-select {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 54%;
  width: 10%;
  margin-right: 11px
}

.row-item {
  height: 58px;
  background: #EFE0EE;
  box-shadow: 0.47px 3px 10px #7777771a;
  border-radius: 3px;
  display: flex;
  margin: 5px 0 5px 0;
}

.row-span {
  justify-content: center;
  padding: 10px;
}

.row-attr {
  height: 80px;
  margin: 0;
  padding-left: 15px;
  background: white;
  margin: 10px 0 15px 0;
  box-shadow: 0.47px 3px 10px #7777771a;
  border-radius: 3px;
}

.checkbox {
  margin-right: 10px;}

.font-light {
  color: white;
  margin-left: 7px;
}

.modal-container {
  max-height: 250px;
  overflow: auto;
  display: block;
}

.btn-input {
  min-width: 200px;
  height: 29px;
  background: #FFFFFF;
  border: 1px solid #DCD9D3;
  text-align: start;
  margin-left: 10px;
  font-family: 'Circular Std light';
  font-size: 15px;
  color: #707070;
}

.btn-input:not(:disabled):not(.disabled):active, .btn-input:hover, .btn-input:focus {
  color: #fff !important;
  background-color: #A1006B;
  border-color: #A1006B;
}

:host >>>  .autocomplete-container .input-container .x {
  display: none;
}

:host >>> .autocomplete-container{
  height: 30px;
  box-shadow: none;
  width: 90%;
}

:host >>> .autocomplete-container .input-container input {
  font-family: Circular Std Light, sans-serif;
  color:  #707070;
  height: 30px;
  border: 1px solid #cccccc;
  padding: 6px;
}

:host >>> .autocomplete-container .suggestions-container ul li:hover {
  background: #A1006B;
  color: #FFFFFF;
}
:host >>> .autocomplete-container .suggestions-container ul li a {
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  color: #707070;
  height: 30px;
  padding: 6px;
}
:host >>> .autocomplete-container .suggestions-container ul li a:hover {
  color: #FFFFFF;
}
:host>>> .autocomplete-container .input-container input:disabled {
  background: #F2F2F2;
  border: none;
}

.w-80 {
  width: 80%;
}
.padding-top {
  padding-top: 22px;
}

.p-right-0 {
  padding-right: 0;
}

.w-93 {
  width: 93%;
}
.row-filter {
  background: #FFFFFF;
  border-radius: 3px;
}

.comment {
  width: 100%;
  height: 110px;
  background: #FFFFFF;
  border: 1px solid #AAAAAA80;
  margin-top: 5px;
}
.margin-top  {
  margin-top: 40px;
}
