@media (min-width: 1200px) {
  .filter-input {
    width: 300px;
  }
  .btn-search {
    width: 112px;
  }
  .multiselect {
    width: 135px;
  }
}

@media (max-width: 1199px) {
  .filter-input {
    width: 220px;
  }

  .btn-search {
    width: 100px;
  }
  .multiselect {
    width: 120px;
  }
}

.filter-input {
  display: flex;
  height: 45px;
  border: 1px solid #AAAAAA;
  opacity: 0.6;
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
  color: #464A53;
  padding: 16px 13px 16px 13px;
  margin-right: 5px;
}

.filter-check {
  cursor: pointer;
  height: 45px;
  width: 120px;
  border: 1px solid #AAAAAA;
  opacity: 0.5;
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
  color: #909090;
  margin-right: 4px;
  margin-left: 4px;
  display: flex;
}

.content{
  padding: 10px;
  font-size: small;
  display: flex;
}

input {
  font-size: 13px;
  border: none;
  height: 15px;
  width: 100%;
}

.custom-popover{
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  color: #909090;
  position: absolute !important;
  padding: 1rem !important;
  background-color: white !important;
  z-index: 2;
  max-width: 490px;
  margin-top: 50px;
  max-height: 220px;
  overflow: auto;
}

.label {
  font-size: 13px;
  align-self: center;
  margin: auto;
}

.ic-select {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 26px;
  width: 16px;
  margin-right: 11px;
  position: absolute;
  opacity: 0.6;
}

.btn-search {
  font-family: Circular Std Light, sans-serif;
  margin: 0 5px;
  background: #3A3F43;
  border: none;
  color: #FFFFFF;
  height: 45px;
}

.ic-search {
  background-image: url(/agora-admin/assets/img/Recherche.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 15px;
}

.btn-reinit {
  background-image: url(/agora-admin/assets/img/Reinitialiser.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

p-multiSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  border: 1px solid #cccccc;
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
}

:host>>> .ui-multiselect .ui-multiselect-label {
  font-family: Circular Std Light Italic, sans-serif;
  font-size: 13px;
  color: #bbbbbb;
}

:host>>> .ui-multiselect .ui-multiselect-label-container {
  padding: 0 22px 0 10px;
}

.m-r {
  margin-right: 5px;
}
.row-filter {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  justify-content: space-between;
}

.btn-tag {
  width: auto;
  background: #EFE0EE;
  color: #A1006B;
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  margin-right: 5px;
  text-align: center;
  padding: 7px;
  display: inline-flex;
  margin-top: 5px;
}

.ic-close {
  background-image: url(/agora-admin/assets/img/close.svg);
  height: 9px;
  width: 9px;
  margin-left: 20px;
  align-self: center;
}
