<div class="flex justify-content-between row-filter">
  <div class="flex">
    <div class="filter-input">
      <i class="ic-search"></i>
      <input [placeholder]="component !== 'affectation'? 'Libellé terme métier, définition…': 'Nom, prénom de l’acteur...'" [(ngModel)]="motif" >
    </div>
    <div *ngIf="component !== 'affectation'" class="multiselect flex flex-row-reverse">
      <p-multiSelect
      [options]="filieres" [(ngModel)]="pickedFiliere"
      [defaultLabel]="'Filières'" ></p-multiSelect>
   </div>
    <div *ngIf="component === 'affectation'" class="multiselect flex flex-row-reverse">
      <p-multiSelect
        [options]="roles" [(ngModel)]="pickedRoles"
        [defaultLabel]="'Rôle fonctionnel'" ></p-multiSelect>
    </div>
  </div>
  <div class="flex m-r">
    <button class="btn-search" type="button" (click)="search()">Rechercher</button>
  <i class="btn-reinit"  matTooltip="Réinitialiser"
     [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="reinit()"></i>
  </div>
</div>

<div *ngFor="let filiere of pickedFiliere" class="btn-tag">{{filiere}}<i class="ic-close" (click)="removeFiliere(filiere)"></i></div>
<div *ngFor="let role of pickedRoles" class="btn-tag">{{role}} <i class="ic-close" (click)="removeRole(role)"></i></div>
