<div class="app-container">
  <div class="header-container">
    <span class="font-bold-white">Qualité de la donnée  </span>
    <span class="font-light h-font-size"> &nbsp;- Objet fonctionnel</span>
    <span class="font-light h-font-size">  &nbsp;- {{objet?.libelle}}</span>
  </div>
  <div class="body-container">
    <div class="row row-item">
      <span class="font-light-gray margin">Critères qualité*</span>
      <div class="multiselect flex flex-row-reverse">
        <p-multiSelect
                       [options]="criteres" [defaultLabel]="'Sélectionner un ou plusieurs critères'"
                       [(ngModel)]="criteresObjet" (ngModelChange)="changeCriteresListe(); setIsModified(true)"
                       [disabled]="isDisabled" appendTo="body"></p-multiSelect>
      </div>
      <div *ngFor="let critere of objet?.critereQualites; let i= index" class="btn-tag">{{critere.libelle}}
        <i *ngIf="!isDisabled" class="ic-close" (click)="removeCritere(i)"></i></div>
    </div>

    <form>
      <div *ngFor="let critere of objet?.critereQualites; let indexCritere = index" class="btn-tag"
           [ngClass]="indexCritere == currentCritereIndex? 'ctn-tag-selected': ''"
           (click)="changeCritere(indexCritere)">{{critere.libelle}}</div>
      <ng-container *ngIf="objet?.critereQualites">
        <div *ngFor="let indicateur of objet.critereQualites[currentCritereIndex]?.politiqueQualites"
             class="form-body flex">
          <div class="col-md-4">
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">Indicateur de qualité*</span></div>
              <div class="col-md-8"><input class="input-field w-100"  [ngClass]="{'input-field-error': isInvalid(indicateur.indicateurDeQualite)}"
                                           (ngModelChange)="setIsModified(true)" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="indicateur.indicateurDeQualite" [disabled]="isDisabled">
              </div>
              <span class="font-circular-light-italic-error" *ngIf="isInvalid(indicateur.indicateurDeQualite)">Champ obligatoire</span>

            </div>
            <div class="form-row">
              <div class="col-md-4"><span class="font-light-gray">Description</span></div>
              <div class="col-md-8"><textarea class="input-field"
                                              (ngModelChange)="setIsModified(true)" [ngModelOptions]="{standalone: true}"
                                              [(ngModel)]="indicateur.description" [disabled]="isDisabled"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 col"><span class="font-light-gray">URI du webservice</span></div>
              <div class="col-md-8"><input class="input-field w-100" (ngModelChange)="setIsModified(true)" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="indicateur.url" [disabled]="isDisabled">
              </div>
            </div>

          </div>
          <div class="col-md-8">
            <div *ngFor="let taux of indicateur.tauxQualiteMesures; let indexTaux = index;"
                 class="row row-item flex-row p-0" [ngStyle]="{ background: indexTaux === 0? '': '#7777771A'}">
              <span class="font-light-gray col p-r-0">{{indexTaux == 0 ? 'Taux promis' : ''}}</span>
              <div class="col-md-2 col p-l-0">
                <input *ngIf="indexTaux == 0" class="input-field input-taux" type="number"
                       (ngModelChange)="setIsModified(true)" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="indicateur.tauxPromis" [disabled]="isDisabled">
                <span *ngIf="indexTaux == 0" class="font-light-gray ic-percent">%</span>
              </div>

              <span  class="font-light-gray col p-r-0">Taux mesuré</span>
              <div class="col-md-2 col p-l-0">
                <input class="input-field input-taux" [disabled]="isDisabled" type="number"
                       (ngModelChange)="setIsModified(true)" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="taux.tauxMesure">
                <span class="font-light-gray ic-percent">%</span>
              </div>

              <span class="font-light-gray col p-r-0">Date de <br> la mesure</span>
              <div class="col-md-3 col p-l-0"><input class="input-field w-100" [disabled]="isDisabled"
                                               (ngModelChange)="setIsModified(true)" [ngModelOptions]="{standalone: true}"
                                               type="date" [(ngModel)]="taux.dateDeMesure">
              </div>
            </div>

            <div class="row row-item" [ngStyle]="{background: 'white'}">
              <span class="font-light-gray margin">Sélectionnez un/des usage(s) et associer un taux souhaité</span>
              <div class="multiselect flex flex-row-reverse">
                <p-multiSelect name="d" [options]="usages" [defaultLabel]="'Usage'" [disabled]="isDisabled"
                               [(ngModel)]="indicateur.usagesObjet" [ngModelOptions]="{standalone: true}"
                               (ngModelChange)="changeUsage(indicateur); setIsModified(true)" appendTo="body"></p-multiSelect>
              </div>
            </div>

            <div *ngFor="let usage of indicateur.politiqueQualiteParUsages; let indexUsage = index" class="row"
                 [ngStyle]="{background: 'white'}">
              <span class="col-md-6 font-bold p-left">{{usage.usageMetier.libelle}}</span>
              <div class="flex col-md-6">
                <span  class="font-light-gray p-2">Taux souhaité</span>
                <div class="col-md-4 col p-l-0" [ngStyle]="{alignSelf: 'center'}">
                  <input class="input-field input-taux" type="number" (ngModelChange)="setIsModified(true)" [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="usage.tauxSouhaite" [disabled]="isDisabled">
                  <span class="font-light-gray ic-percent">%</span>
                </div>
                <i class="ic-archive" [hidden]="isDisabled" matTooltip="Archiver"
                   (click)="removeUsage(indexUsage, indicateur)"
                   [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
                </i>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <div *ngIf="objet?.critereQualites?.length > 0" class="footer">
    <button [hidden]="isDisabled" class="btn-ajout" type="button" (click)="addIndicateur()">
      <img class="ic-add" src="/agora-admin/assets/img/add.png"> Créer un indicateur
    </button>
    <button class="btn-confirm" type="button" [hidden]="!isModified" (click)="save()">Enregistrer</button>
    <button class="btn-cancel" type="button" [hidden]="!isModified" (click)="openModal(annuler)">Annuler</button>
  </div>
</div>


<ng-template #annuler>
  <div class="row row-modal-item"><span class="font-bold">Êtes-vous sûr(e) de vouloir quitter la page ?</span></div>
  <div class="row row-modal-item"><span class="font-light-gray">En cliquant sur le bouton «Confirmer», vous perdrez
        <br>
        toutes les informations apportées à cette fiche.</span></div>
  <div class="row-btn">
    <button class="btn-cancel btn-gray" type="button" (click)="hideModal()"> Annuler</button>
    <button class="btn-confirm" type="button" (click)="redirect()"> Confirmer</button>
  </div>
</ng-template>
