.body-container {
  min-height: 87%;
  max-height: 87%;
}

.row-item {
  min-height: 65px;
  background: #EFE0EE;
  padding: 13px 30px;
  margin: 5px 0 0 0;
}

p-multiSelect {
  background: white;
  border: none;
  width: auto;
  align-self: center;
  border: 1px solid #AAAAAA80;
  width: 260px;
}

:host>>> .ui-multiselect .ui-multiselect-label {
  text-align: left;
  font-family: "Circular Std light italic";
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.6;
}

.ic-select {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 24px;
  width: 14px;
  margin-right: 11px;
  position: relative;
  opacity: 0.6;
  left: 270px;
}

.form-body {
  color: #464A53;
  background: #FFFFFF;
  margin: 10px 0 30px 0;
  padding: 20px 0 20px 0;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
}

.form-row {
  padding: 10px 0 10px 5px;
  margin: 0;
  align-self: center;
}
textarea {
  font-family: Circular Std Light, sans-serif;
  color:  #707070;
  height: 150px;
  border: 1px solid #cccccc;
  padding-left: 6px;
  resize: none;
  width: 100%;
}

.footer {
  display: flex;
  position: fixed;
  right: 27px;
  bottom: 10px;
}

.btn-ajout {
  margin: auto;
  font-family: Circular Std Light, sans-serif;
  width: 170px;
  height: 45px;
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #A1006B ;
  color: #ffffff;
}

.btn-ajout:hover {
  background: #ffffff;
  border-bottom:  #A1006B solid;
  color: #A1006B;
}

.footer .btn-confirm {
  background: #6E1E78;
  border: 1px solid #6E1E78;
}

.footer .btn-confirm:hover {
  background: #ffffff;
  border-bottom: #6E1E78 solid;
  color: #6E1E78;
}


.btn-tag {
  height: 30px;
  width: auto;
  background: #A1006B;
  color: white;
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  text-align: center;
  padding: 6px;
  display: inline-flex;
  margin: 5px 5px 0;
  cursor: pointer;
}

.ic-close {
  background-image: url(/agora-admin/assets/img/add.png);
  transition: 300ms;
  transform: rotate(
    45deg
  );
  height: 13px;
  width: 13px;
  margin-left: 20px;
  align-self: center;
  background-size: 12px;
}

.input-taux {
  width: 102px!important;
  padding-right: 20px;
}

.ic-percent {
  position: absolute;
  left: 85px;
}

.p-r-0 {
  padding-right: 0;
}

.p-l-0 {
  padding-left: 0;
}


.p-left {
  padding-left: 50px;
  padding-bottom: 5px;

}

.ctn-tag-selected {
  background: #EFE0EE;
  color: #A1006B;
}
