@font-face {font-family: "Circular Std Bold";
  src: url("src/assets/webfonts/CircularStd-Bold.otf");
}
@font-face {font-family: "Circular Std Book";
  src: url("src/assets/webfonts/CircularStd-Book.otf");
}

@font-face {font-family: "Circular Std light";
  src: url("src/assets/webfonts/CircularStd-Light.otf");
}

@font-face {font-family: "Circular Std light italic";
  src: url("src/assets/webfonts/CircularStd-Light Italic.otf");
}

@font-face {font-family: "Circular Std Black";
  src: url("src/assets/webfonts/CircularStd-Black.otf");
}

@font-face {font-family: "Circular Std Medium";
  src: url("src/assets/webfonts/CircularStd-Medium.otf");
}


@media (min-width: 1601px) {
  .font-bold-white {
    font-size: 22px;
  }
  .h-font-size {
    font-size: 20px;
  }
  span {
    font-size: 15px;
  }
  .input-field {
    font-size: 15px;
  }

  .header-container {
    height: 60px;
  }
  .form-header {
    height: 59px;
  }
  .col-header {
    height: 59px;
  }
}
@media (min-width: 1180px) and (max-width: 1600px) {
  .font-bold-white {
    font-size: 19px;
  }

  .h-font-size {
    font-size: 17px;
  }

  span {
    font-size: 13px;
  }
  .input-field {
    font-size: 13px;
  }
  .header-container {
    height: 48px;
  }
  .form-header {
    height: 47px;
  }
  .col-header {
    height: 47px;
  }
}

@media (max-width: 1179px) {
  .font-bold-white {
    font-size: 15px;
  }
  .h-font-size {
    font-size: 13px;
  }
  span {
    font-size: 11px;
  }
  .input-field {
    font-size: 11px;
  }
  .header-container {
    height: 48px;
  }
  .form-header {
    height: 47px;
  }
  .col-header {
    height: 47px;
  }
}



html, body { height: 100%; }
body { margin: 0; background-color: #FFFFFF;}

*,*:focus,*:hover{
  outline:none;
}

.app-container {
  background: #F8F9FE;
  padding-bottom: 30px;
  height: 80%;
}

.header-container {
  padding-left: 20px;
  display: flex;
  color: #FFFFFF;
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  margin-bottom: 20px;
}

.body-container {
  overflow: auto;
  background: #F8F9FE;
  max-height: 95%;
  padding: 0 15px;
  overflow-y: scroll;
  scrollbar-color: #A1006B #fff;
  scrollbar-width: thin;
}
.form-header {
  display: flex;
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  color: white;
  padding-left: 15px;
  margin-bottom: 10px;
}
.col {
  text-align: start;
  align-self: center;
  display: flex;
}

.col-header {
  padding-left: 15px;
  display: flex;
  color: white;
  background: #3A3F43 0% 0% no-repeat padding-box;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
}

.align-header-items {
  height: 50px;
  background: #3A3F43;
  margin: 0 0 5px 0;
  color: #FFFFFF;
  box-shadow: 0.47px 3px 10px #7777771A;
}

.align-body-items {
  margin: 8px 0;
  min-height: 58px;
  background-color: #FFFFFF;
  box-shadow: 0.47px 3px 10px #7777771A;
  border-radius: 3px;
}
.row-modal-item {
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.modal-lg{
  display: flex;
  align-items: center;
  min-height: 80%;
  max-width: 900px;
}

.modal-content{
  max-height: 580px;
  overflow: scroll;
  padding: 25px;
  font: normal normal 300 16px/20px Circular Std;
}

.modal-content .input-field {
  width: 100%;
}

.modal-content textarea {
  width: 100%;
}

.modal-content .error .autocomplete-container .input-container input {
  border: red 1px solid;
}
.modal-content .autocomplete-container .input-container .x {
  display: none;
}
.modal-content .autocomplete-container{
  height: 30px;
  box-shadow: none;
}

.modal-content .autocomplete-container .input-container input {
  font-family: Circular Std Light, sans-serif;
  color: #707070;
  height: 30px;
  border: 1px solid #cccccc;
  padding: 6px;
  width: 100%;
}

.modal-content  .autocomplete-container .suggestions-container ul li {
  text-align: left;
}
.modal-content .autocomplete-container .suggestions-container ul li a {
  font-family: Circular Std Light, sans-serif;
  font-weight: 400;
  padding: 5px;
  white-space: nowrap;
  position: relative;
  color: #707070;
  border-bottom: solid 1px #efefef;
  font-size: 13px;
}

.modal-content .autocomplete-container .suggestions-container ul li:hover {
  background-color: #A1006B;
}

.modal-content .autocomplete-container .suggestions-container ul li:hover a {
  color: #FFFFFF;
}


.row-btn {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.btn {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.btn-cancel {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  width: 125px;
  height: 45px;
  background: #FFFFFF;
  border: none;
  color: #3A3F43;
  align-self: center;
  margin: 10px;
}

.btn-cancel:hover {
  border: #495057d6 solid 1px;
  border-bottom: #495057d6 solid 3px;
}

.btn-confirm {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  width: 122px;
  height: 45px;
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #A1006B;
  color: #ffffff;
  align-self: center;
  margin: 10px;
}

.btn-confirm:hover {
  background: #ffffff;
  border-bottom: #A1006B solid;
  color: #A1006B;
  text-decoration: none!important;
}

.btn-refuser {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  width: 122px;
  height: 45px;
  background: #3A3F43;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid  #3A3F43;
  color: #ffffff;
  align-self: center;
  margin: 10px;
}
.btn-refuser:hover {
  background: #ffffff;
  border-bottom:  #3A3F43 solid;
  color:  #3A3F43;
  text-decoration: none!important;
}

.btn-submit {
  font-family: Circular Std Book, sans-serif;
  font-size: 13px;
  width: 122px;
  height: 45px;
  background: #6E1E78 ;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #6E1E78 ;
  color: #ffffff;
  align-self: center;
  margin: 10px;
}

.btn-submit:hover {
  background: #ffffff;
  border-bottom: #6E1E78  solid;
  color: #6E1E78 ;
  text-decoration: none!important;
}

.btn-ajout{
  width: 30px;
  height: 30px;
  margin-left: 3px;
  background: #A1006B;
  box-shadow: 0.47px 3px 10px #7777771A;
  border: 1px solid #A1006B;
  color: white;
}

.btn-ajout:hover {
  background: #ffffff;
  border-bottom:  #A1006B solid;
  color: #A1006B;
}

.ic-add {
  background-image: url(/agora-admin/assets/img/add.png);
  background-repeat: round;
  transition: 300ms;
  transform: rotate(90deg);
  display: inline-block;
  height: 9px;
  width: 9px;
}

.btn-ajout:hover .ic-add {
  transition: 300ms;
  transform: rotate(-90deg);
  background-image: url(/agora-admin/assets/img/addHover.svg);
  padding: 4px;
}

.ic-add-gray {
  background-image: url(/agora-admin/assets/img/add.svg);
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  align-self: center;
  background-size: 12px;
}

.ic-add-gray:hover {
  background-image: url(/agora-admin/assets/img/addHover.svg);
}

.ic-remove {
  background-image: url(/agora-admin/assets/img/Annuler.svg);
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  background-size: 14px;
  margin: auto;
}

.ic-remove:hover {
  background-image: url(/agora-admin/assets/img/AnnulerHover.svg);
}

.font-light-gray {
  font-family: Circular Std Light, sans-serif;
  align-self: center;
  color: #464A53;
}

.font-light {
  font-family: Circular Std Light, sans-serif;
  align-self: center;
  color: #FFFFFF;
}

.font-light-italic {
  font-family: Circular Std Light Italic, sans-serif;
  align-self: center;
}

.font-bold {
  font-family: Circular Std Bold, sans-serif;
  align-self: center;
  color: #A1006B;
}

.font-bold-white {
  font-family: Circular Std Bold, sans-serif;
  align-self: center;
  color: #FFFFFF;
}

.font-book {
  font-family: Circular Std Book, sans-serif;
  align-self: center;
  color: #393939;
}
.font-ctd{
  font-family: Circular Std, sans-serif;
  align-self: center;
}

.font-black {
  font-family: Circular Std Black, sans-serif;
  align-self: center;
}

.font-medium {
  font-family: Circular Std Medium, sans-serif;
  color: #A1006B;
  align-self: center;
}

.input-field {
  font-family: Circular Std Light, sans-serif;
  color:  #707070;
  height: 30px;
  border: 1px solid #cccccc;
  padding: 6px;
  width: 90%;
}

textarea{
  overflow-y: scroll;
  scrollbar-color: #A1006B #fff;
  scrollbar-width: thin;
}

.input-field-error {
  border: 1px solid red!important;
}

.input-field:disabled {
  background: #F2F2F2;
  border: none;
}

.font-circular-light-italic-error {
  font-family: Circular Std Light Italic, sans-serif;
  align-self: center;
  color: red;
  padding-left: 35%;
}

i {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.ic-archive {
  background-image: url(/agora-admin/assets/img/Archiver.svg);
  background-repeat: no-repeat;
  align-self: center;
  width: 20px;
  height: 15px;
  margin: auto;
  background-size: 17px;
}

.ic-archive:hover {
  background-image: url(/agora-admin/assets/img/Archiver-hover.svg);
}

.ic-consult {
  background-image: url(/agora-admin/assets/img/Visualiser.svg);
  background-repeat: no-repeat;
  align-self: center;
  width: 19px;
  height: 14px;
  margin: auto;
  background-size: 17px;
}

.ic-consult:hover {
  background-image: url(/agora-admin/assets/img/VisualiserHover.svg);
}

.ic-edit {
  background-image: url(/agora-admin/assets/img/Editer.svg);
  background-repeat: no-repeat;
  align-self: center;
  width: 18px;
  height: 18px;
  margin: auto;
  background-size: 15px;
}

.ic-edit:hover {
  background-image: url(/agora-admin/assets/img/EditerHover.svg);
}

.ic-submit {
  background-image: url(/agora-admin/assets/img/Soumettre.svg);
  background-repeat: no-repeat;
  align-self: center;
  width: 18px;
  height: 18px;
  margin: auto;
  background-size: 15px;
}

.btn-gray {
  border: 1px solid #3A3F43;
  color: #FFFFFF;
  background: #3A3F43;
}

.btn-gray:hover {
  border-bottom: #3A3F43 solid;
  background: #FFFFFF;
  color: #3A3F43;
}

.overflow {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex {
  display: flex;
  flex-direction: row;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #FFFFFF;
  border: 1px solid #A1006B;
  border-radius: 2px;
}
::-webkit-scrollbar {
  display: contents!important;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A1006B;
  border-radius: 20px;
}
/* The container */
.container {
  position: relative;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  user-select: none;
  width: 30px;
  margin-left: 0;
  margin-right: 0;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #FFFFFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #A1006B;
  border-width: 0px 2px 2px 0;
  transform: rotate(
    45deg
  );
}

.tooltipText {
  background-color: #A1006B;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
}

/* change multiselect primeng style **/
.ui-table-scrollable-wrapper {
  padding: 0 15px;
}
.ui-widget-content {
  border: 1px solid #D5D5D5;
  background-color: #ffffff;
  color: #222222;
}

.ui-multiselect {
  display: inline-block;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

p-table .ui-widget-header {
 display: block;
}

p-table{
  overflow-y: scroll;
  scrollbar-color: #A1006B #fff;
  scrollbar-width: thin;
}

p-multiSelect .ui-widget-header {
  display: none;
}

.ui-multiselect .ui-multiselect-label-container {
  padding: 0 10px 0 10px;
  overflow: hidden;
}

.ui-widget, .ui-widget * {
  scrollbar-width: thin;
}

p-multiSelect {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #4e5356;
  height: 30px;
}

.ui-multiselect .ui-multiselect-label {
  display: block;
  width: 82%;
  border: none;
  cursor: pointer;
  color: white;
  font-family: Circular Std, sans-serif;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100%;
  top: 28px!important;
  padding: 0!important;
}

.ui-multiselect-panel {
  border: none;
  box-shadow: 0px 0px 5px #7777774d;
  border-radius: 3px;
  position: absolute;
  display: block !important;
}
.ui-multiselect-header{
  display: none;
}
th .ui-multiselect .ui-multiselect-trigger{
  display: none;
}


.ui-chkbox {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #e6e6e6;
  margin: 0 5px;
}

.pi-check:before {
  font-size: 0;
  background: #A1006B;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 7px;
  top: 13.2px;
  margin-left: -6.5px;
  margin-top: -12px;
  content: "\e909";
}

.ui-multiselect-panel .ui-multiselect-items-wrapper {
  overflow: auto;
  position: relative;
  padding: .2em 0 0 0;
}

.ui-multiselect-panel .ui-multiselect-list {
  border: 0;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-multiselect-panel .ui-multiselect-item {
  font-family: Circular Std Light, sans-serif;
  font-weight: 400;
  padding: 5px;
  white-space: nowrap;
  position: relative;
  color: #707070;
  border-bottom: solid 1px #efefef;
  height: 30px;
}
/***/
.ic-sort {
  display: block;
  width: 10px;
  height: 22px;
  margin-left: 4px;
  background-image: url(/agora-admin/assets/img/Filter.svg);
  background-repeat: no-repeat;
  background-size: 9px 29px;
}

.modal-content  .selectize-input {
  font-family: Circular Std Light, sans-serif;
  color: #707070;
  height: 30px;
  border: 1px solid #cccccc;
  padding-left: 6px;
  width: 100%;
}


.modal-content .selectize-control .selectize-input.disabled {
  background: #F2F2F2;
  border: none;
  opacity: 1;
}

.modal-content .error .selectize-control.single .selectize-input {
  border: 1px solid red!important;
}

.modal-content .selectize-control.single .selectize-input:after {
  border-style: none;
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 33%;
  width: 8%;
  top: 42%;
  right: 10px;
}
.modal-content .selectize-control.single {
  text-align: left;
}
.modal-content .selectize-control.single .selectize-input.input-active.dropdown-active:after {
  background-image: url(/agora-admin/assets/img/select.svg);
  background-repeat: no-repeat;
  transition: 300ms;
  transform: rotate(180deg);
  height: 33%;
  width: 8%;
}

.modal-content .selectize-control.single .selectize-input.disabled:after {
  display: none;
}

.modal-content  .selectize-dropdown-content {
  font-family: Circular Std Light, sans-serif;
  font-size: 13px;
  color: #707070;
}

.modal-content .selectize-dropdown .active{
  background: #A1006B;
  color: #FFFFFF;
}

.modal-content
.input-field:disabled {
  background: #F2F2F2;
  border: none;
}

.cdk-overlay-container {
  z-index: 2000;
}
.margin {
  margin-right: 55px;
}

.btn-associer {
  background-image: url(/agora-admin/assets/img/Associer.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  margin-top: 3px;
}

.btn-associer:hover {
  background-image: url(/agora-admin/assets/img/AssocierHover.svg);
}
.grid {
  display: grid;
}

