<div class="app-container">
  <div class="header-container">
    <span class="font-ctd">{{items ? items : 0}} résultat(s) trouvé(s)</span>
  </div>
  <div class="body-container">


  <div class="header-container" *ngIf="listTerme?.length>0">
    <span class="font-bold-white margin">Termes métier</span>
    <span class="font-ctd">{{listTerme ? listTerme.length : 0}} résultat(s) trouvé(s)</span>
  </div>
  <div class="body-container">
    <tr *ngFor="let terme of listTerme" class="row align-body-items">
      <td class="col-md-4 col"><span class="font-bold overflow pointer">{{terme.object.libelle}}</span></td>
      <td class="col-md-7 col" >
        <ul>
        <b><li *ngFor="let item of terme.motifRecherche | keyvalue"
          class="font-book overflow">{{item.key}}</li></b></ul>
      </td>

      <td class="col-md-1 padding col">
        <i class="ic-consult" matTooltip="Visualiser" (click)="editTerme(terme.object.idTerme)" [queryParams]="{action:'consult'}"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
           [routerLink]="['/main/terme']">
        </i>
      </td>
    </tr>
  </div>


  <div class="header-container" *ngIf="listObject?.length>0">
    <span class="font-bold-white margin">Objet métier</span>
    <span class="font-ctd">{{listObject ? listObject.length : 0}} résultat(s) trouvé(s)</span>
  </div>
  <div class="body-container">
    <tr *ngFor="let objet of listObject" class="row align-body-items">
      <td class="col-md-4 col"><span class="font-bold overflow pointer">{{objet.object.libelle}}</span></td>
      <td class="col-md-7 col" >
        <ul>
        <b><li *ngFor="let item of objet.motifRecherche | keyvalue"
          class="font-book overflow">{{item.key}}</li></b></ul>
      </td>
      <td class="col-md-1 padding col">
        <i class="ic-consult" matTooltip="Visualiser"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" (click)="editObjet(objet.object.idClasseDobjet)" [queryParams]="{action:'consult'}"
           [routerLink]="['/main/objet']">
        </i>
      </td>
    </tr>
  </div>

  <div class="header-container" *ngIf="listDiagramme?.length>0">
    <span class="font-bold-white margin">Diagramme</span>
    <span class="font-ctd">{{listDiagramme ? listDiagramme.length : 0}} résultat(s) trouvé(s)</span>
  </div>
  <div class="body-container">
    <tr *ngFor="let diagramme of listDiagramme" class="row align-body-items">
      <td class="col-md-3 col"><span class="font-bold overflow pointer" matTooltip="{{diagramme.object.libelle}}"
                                     [matTooltipPosition]="'above'"
                                     [matTooltipClass]="'tooltipText'">{{diagramme.object.libelle}}</span></td>
      <td class="col-md-4 col"><span class="font-light-gray overflow">{{diagramme.object.description}}</span></td>
      <td class="col-md-3 col"><span class="font-medium overflow">{{diagramme.object.filiere}}</span></td>
      <td class="col-md-1 col"><span
        class="font-light-gray overflow">{{diagramme.object.statut?.libelle  | titlecase}}</span></td>
      <td class="col-md-1 padding col">
        <i class="ic-consult" matTooltip="Visualiser"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
        </i>
      </td>
    </tr>
  </div>

  <div class="header-container" *ngIf="listFiliere?.length>0">
    <span class="font-bold-white margin">Filière</span>
    <span class="font-ctd">{{listFiliere ? listFiliere.length : 0}} résultat(s) trouvé(s)</span>
  </div>
  <div class="body-container">
    <tr *ngFor="let filiere of listFiliere" class="row align-body-items">
      <td class="col-md-4 col"><span class="font-bold overflow pointer" matTooltip="{{filiere.object.nom}}"
                                     [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                     [routerLink]="['/main/filiere']"
      >{{filiere.object.nom}}</span></td>

      <td class="col-md-7 col" >
        <ul>
        <b><li *ngFor="let item of filiere.motifRecherche | keyvalue"
          class="font-book overflow">{{item.key}}</li></b></ul>
      </td>
      <td class="col-md-1 col p-0">
        <i class="ic-consult" matTooltip="Visualiser" (click)="changeDataService(filiere.object)"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" [routerLink]="['/main/filiere']"
        ></i>
      </td>
    </tr>
  </div>


  <div class="header-container" *ngIf="listActeur?.length>0">
    <span class="font-bold-white margin">Acteur</span>
    <span class="font-ctd">{{listActeur ? listActeur.length : 0}} résultat(s) trouvé(s)</span>
  </div>
  <div class="body-container">
    <tr *ngFor="let acteur of listActeur" class="row align-body-items">
      <td class="col-md-4 col"><span class="font-bold overflow pointer" matTooltip="{{acteur.nomComplet}}"
                                     [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
      >
          {{acteur.object.nomComplet ? acteur.object.nomComplet : '—' }}
        </span></td>

      <td class="col-md-7 col" >
        <ul>
        <b><li *ngFor="let item of acteur.motifRecherche | keyvalue"
          class="font-book overflow">{{item.key}}</li></b></ul>
      </td>
      <td class="col-md-1 padding col">
        <i class="ic-consult" matTooltip="Visualiser" [routerLink]="['/main/acteurs']" [queryParams]="{'search': true}" (click)="editActeur(acteur.object)"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
        </i>
      </td>
    </tr>
  </div>

  <div class="header-container" *ngIf="listQualite?.length>0">
    <span class="font-bold-white margin">Qualité</span>
    <span class="font-ctd">{{listQualite ? listQualite.length : 0}} résultat(s) trouvé(s)</span>
  </div>
    <div class="body-container">
      <tr *ngFor="let qualite of listQualite" class="row align-body-items">
        <td class="col-md-4 col"><span class="font-bold overflow pointer" matTooltip="{{qualite.object.libelle}}"
                                       [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                       [routerLink]="['/main/qualite']" [queryParams]="{action:'consult'}">
           {{qualite.object.libelle}}</span></td>
        <td class="col-md-7 col" >
          <ul>
          <b><li *ngFor="let item of qualite.motifRecherche | keyvalue"
            class="font-book overflow">{{item.key}}</li></b></ul>
        </td>
        <td class="col-md-1 p-0 col">
          <i class="ic-consult" matTooltip="Visualiser"  [queryParams]="{action:'consult'}"
             [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'" [routerLink]="['/main/qualite']" (click)="editQualite(qualite.object)"
             [queryParams]="{action:'consult'}">
          </i>
        </td>
      </tr>
    </div>

  <div class="header-container" *ngIf="listGisement?.length>0">
    <span class="font-bold-white margin">Gisement</span>
    <span class="font-ctd">{{listGisement ? listGisement.length : 0}} résultat(s) trouvé(s)</span>
  </div>
  <div class="body-container">
    <tr *ngFor="let gisement of listGisement" class="row align-body-items">
      <td class="col-md-4 col"><span class="font-bold overflow pointer" matTooltip="{{gisement.object.libelle}}"
                                     [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'"
                                     [routerLink]="['/main/gisement']"
                                     [queryParams]="{action:'consult'}">{{gisement.object.libelle}}</span></td>
      <td class="col-md-7 col" >
        <ul>
        <b><li *ngFor="let item of gisement.motifRecherche | keyvalue"
          class="font-book overflow">{{item.key}} </li></b></ul>
      </td>
      <td class="col-md-1 padding col">
        <i class="ic-consult" matTooltip="Visualiser" [routerLink]="['/main/gisement']" (click)="changeData(gisement.object)" [queryParams]="{action:'consult'}"
           [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipText'">
        </i>
      </td>
    </tr>
  </div>

  </div>

</div>
